examples/edicooked02.dtd

<!-- XML DTD for cooked EDI to reflect raw UN/EDIFACT -->
<!-- edicooked02.dtd (c) '98 Kraehe@Bakunin.North.De -->

<!-- I should warn you that badly written validating XML
     parsers may have problems by running out of memory.

     Its quite large, I know, but it's not yet complete!

     My first attempt on an automatic generated edicooked02.dtd
     failed with massive "content model is ambiguous" errors.
     So I deceided to use a mixed content model to simplify work
     for XML parsers and also for me.

     Goal of Edicooked02.dtd is that any valid EDI message can
     be translated into a valid Edicooked message. The revers
     is NOT true, however! Edicooked does'nt constrain anything
     about segment groups. XML messages are of Edicooked type
     and not of EDI-Invoice to point the difference.
  -->


<!-- Segment: ADR address -->
<!ELEMENT address (
	 address.purpose.coded |
	 address.type.coded |
	 address.status.coded |
	 address.format.coded |
	 address.component |
	 city.name |
	 postcode.identification |
	 country.coded |
	 country.sub.entity.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 country.sub.entity |
	 place.location.identification.literal |
	 place.location
	)* >

<!-- Segment: AGR agreement.identification -->
<!ELEMENT agreement.identification (
	 agreement.type.qualifier |
	 agreement.type.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 agreement.type.description |
	 service.layer.coded
	)* >

<!-- Segment: AJT adjustment.details -->
<!ELEMENT adjustment.details (
	 adjustment.reason.coded |
	 line.item.number
	)* >

<!-- Segment: ALC allowance.or.charge -->
<!ELEMENT allowance.or.charge (
	 allowance.or.charge.qualifier |
	 allowance.or.charge.number |
	 charge.allowance.description.coded |
	 settlement.coded |
	 calculation.sequence.indicator.coded |
	 special.services.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 special.service
	)* >

<!-- Segment: ALI additional.information -->
<!ELEMENT additional.information (
	 country.of.origin.coded |
	 type.of.duty.regime.coded |
	 special.conditions.coded
	)* >

<!-- Segment: APR additional.price.information -->
<!ELEMENT additional.price.information (
	 class.of.trade.coded |
	 price.multiplier |
	 price.multiplier.qualifier |
	 change.reason.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 change.reason
	)* >

<!-- Segment: ARD amounts.relationship.details -->
<!ELEMENT amounts.relationship.details (
	 monetary.function.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded
	)* >

<!-- Segment: ARR array.information -->
<!ELEMENT array.information (
	 hierarchical.id.number |
	 sequence.number |
	 array.cell.information
	)* >

<!-- Segment: ASI array.structure.identification -->
<!ELEMENT array.structure.identification (
	 array.structure.identifier |
	 identity.number.qualifier |
	 party.id.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 status.coded |
	 maintenance.operation.coded
	)* >

<!-- Segment: ATT attribute -->
<!ELEMENT attribute (
	 attribute.function.qualifier |
	 attribute.type.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 attribute.coded |
	 attribute.literal
	)* >

<!-- Segment: AUT authentication.result -->
<!ELEMENT authentication.result (
	 validation.result |
	 validation.key.identification
	)* >

<!-- Segment: BGM beginning.of.message -->
<!ELEMENT beginning.of.message (
	 document.message.name.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 document.message.name |
	 document.message.number |
	 version |
	 revision.number |
	 message.function.coded |
	 response.type.coded
	)* >

<!-- Segment: BII structure.identification -->
<!ELEMENT structure.identification (
	 indexing.structure.qualifier |
	 level.one.id |
	 level.two.id |
	 level.three.id |
	 level.four.id |
	 level.five.id |
	 level.six.id |
	 item.number
	)* >

<!-- Segment: BUS business.function -->
<!ELEMENT business.function (
	 business.function.qualifier |
	 business.function.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 business.description |
	 geographic.environment.coded |
	 type.of.financial.transaction.coded |
	 bank.operation.coded |
	 intra.company.payment.coded
	)* >

<!-- Segment: CAV characteristic.value -->
<!ELEMENT characteristic.value (
	 characteristic.value.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 characteristic.value.literal
	)* >

<!-- Segment: CCD credit.cover.details -->
<!ELEMENT credit.cover.details (
	 credit.cover.request.coded |
	 credit.cover.response.coded |
	 credit.cover.reason.coded
	)* >

<!-- Segment: CCI characteristic.class.id -->
<!ELEMENT characteristic.class.id (
	 property.class.coded |
	 measurement.dimension.coded |
	 measurement.significance.coded |
	 measurement.attribute.identification |
	 measurement.attribute |
	 characteristic.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 characteristic |
	 characteristic.relevance.coded
	)* >

<!-- Segment: CDI physical.or.logical.state -->
<!ELEMENT physical.or.logical.state (
	 physical.or.logical.state.qualifier |
	 physical.or.logical.state.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 physical.or.logical.state.literal
	)* >

<!-- Segment: CDS code.set.identification -->
<!ELEMENT code.set.identification (
	 simple.data.element.tag |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 class.designator.coded |
	 maintenance.operation.coded
	)* >

<!-- Segment: CDV code.value.definition -->
<!ELEMENT code.value.definition (
	 code.value |
	 code.name |
	 maintenance.operation.coded
	)* >

<!-- Segment: CED computer.environment.details -->
<!ELEMENT computer.environment.details (
	 computer.environment.details.qualifier |
	 computer.environment.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 computer.environment |
	 version |
	 release |
	 identity.number
	)* >

<!-- Segment: CIN clinical.information -->
<!ELEMENT clinical.information (
	 clinical.information.qualifier |
	 clinical.information.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 clinical.information.literal |
	 certainty.coded |
	 certainty
	)* >

<!-- Segment: CLI clinical.intervention -->
<!ELEMENT clinical.intervention (
	 clinical.intervention.qualifier |
	 clinical.intervention.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 clinical.intervention.literal
	)* >

<!-- Segment: CMP composite.data.element.identification -->
<!ELEMENT composite.data.element.identification (
	 composite.data.element.tag |
	 class.designator.coded |
	 maintenance.operation.coded
	)* >

<!-- Segment: CNI consignment.information -->
<!ELEMENT consignment.information (
	 consolidation.item.number |
	 document.message.number |
	 document.message.status.coded |
	 document.message.source |
	 language.coded |
	 consignment.load.sequence.number
	)* >

<!-- Segment: CNT control.total -->
<!ELEMENT control.total (
	 control.qualifier |
	 control.value |
	 measure.unit.qualifier
	)* >

<!-- Segment: COD component.details -->
<!ELEMENT component.details (
	 type.of.unit.component.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 type.of.unit.component |
	 component.material.coded |
	 component.material
	)* >

<!-- Segment: COM communication.contact -->
<!ELEMENT communication.contact (
	 communication.number |
	 communication.channel.qualifier
	)* >

<!-- Segment: COT contribution.details -->
<!ELEMENT contribution.details (
	 contribution.qualifier |
	 contribution.type.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 contribution.type |
	 instruction.qualifier |
	 instruction.coded |
	 instruction |
	 rate.tariff.class.identification |
	 rate.tariff.class |
	 supplementary.rate.tariff.basis.identification |
	 change.reason.coded |
	 change.reason
	)* >

<!-- Segment: CPI charge.payment.instructions -->
<!ELEMENT charge.payment.instructions (
	 charge.category.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 transport.charges.method.of.payment.coded |
	 prepaid.collect.indicator.coded
	)* >

<!-- Segment: CPS consignment.packing.sequence -->
<!ELEMENT consignment.packing.sequence (
	 hierarchical.id.number |
	 hierarchical.parent.id |
	 packaging.level.coded
	)* >

<!-- Segment: CST customs.status.of.goods -->
<!ELEMENT customs.status.of.goods (
	 goods.item.number |
	 customs.code.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded
	)* >

<!-- Segment: CTA contact.information -->
<!ELEMENT contact.information (
	 contact.function.coded |
	 department.or.employee.identification |
	 department.or.employee
	)* >

<!-- Segment: CUX currencies -->
<!ELEMENT currencies (
	 currency.details.qualifier |
	 currency.coded |
	 currency.qualifier |
	 currency.rate.base |
	 rate.of.exchange |
	 currency.market.exchange.coded
	)* >

<!-- Segment: DAM damage -->
<!ELEMENT damage (
	 damage.details.qualifier |
	 type.of.damage.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 type.of.damage |
	 damage.area.identification |
	 damage.area |
	 damage.severity.coded |
	 damage.severity |
	 action.request.notification.coded |
	 action.request.notification
	)* >

<!-- Segment: DGS dangerous.goods -->
<!ELEMENT dangerous.goods (
	 dangerous.goods.regulations.coded |
	 hazard.code.identification |
	 hazard.substance.item.page.number |
	 hazard.code.version.number |
	 undg.number |
	 dangerous.goods.flashpoint |
	 shipment.flashpoint |
	 measure.unit.qualifier |
	 packing.group.coded |
	 ems.number |
	 mfag |
	 trem.card.number |
	 hazard.identification.number.upper.part |
	 substance.identification.number.lower.part |
	 dangerous.goods.label.marking |
	 packing.instruction.coded |
	 category.of.means.of.transport.coded |
	 permission.for.transport.coded
	)* >

<!-- Segment: DII directory.identification -->
<!ELEMENT directory.identification (
	 version |
	 release |
	 directory.status |
	 control.agency |
	 language.coded |
	 maintenance.operation.coded
	)* >

<!-- Segment: DIM dimensions -->
<!ELEMENT dimensions (
	 dimension.qualifier |
	 measure.unit.qualifier |
	 length.dimension |
	 width.dimension |
	 height.dimension
	)* >

<!-- Segment: DLI document.line.identification -->
<!ELEMENT document.line.identification (
	 document.line.indicator.coded |
	 line.item.number
	)* >

<!-- Segment: DLM delivery.limitations -->
<!ELEMENT delivery.limitations (
	 back.order.coded |
	 instruction.qualifier |
	 instruction.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 instruction |
	 special.services.coded |
	 special.service |
	 product.service.substitution.coded
	)* >

<!-- Segment: DMS document.message.summary -->
<!ELEMENT document.message.summary (
	 document.message.number |
	 document.message.name.coded |
	 total.number.of.items
	)* >

<!-- Segment: DOC document.message.details -->
<!ELEMENT document.message.details (
	 document.message.name.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 document.message.name |
	 document.message.number |
	 document.message.status.coded |
	 document.message.source |
	 language.coded |
	 communication.channel.identifier.coded |
	 number.of.copies.of.document.required |
	 number.of.originals.of.document.required
	)* >

<!-- Segment: DSG dosage.administration -->
<!ELEMENT dosage.administration (
	 dosage.administration.qualifier |
	 dosage.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 dosage
	)* >

<!-- Segment: DSI data.set.identification -->
<!ELEMENT data.set.identification (
	 data.set.identifier |
	 identity.number.qualifier |
	 party.id.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 status.coded |
	 sequence.number |
	 sequence.number.source.coded |
	 revision.number
	)* >

<!-- Segment: DTM date.time.period -->
<!ELEMENT date.time.period (
	 date.time.period.qualifier |
	 date.time.period.literal |
	 date.time.period.format.qualifier
	)* >

<!-- Segment: EFI external.file.link.identification -->
<!ELEMENT external.file.link.identification (
	 file.name |
	 item.description.literal |
	 file.format |
	 version |
	 data.format.coded |
	 data.format |
	 sequence.number
	)* >

<!-- Segment: ELM simple.data.element.details -->
<!ELEMENT simple.data.element.details (
	 simple.data.element.tag |
	 simple.data.element.character.representation.coded |
	 simple.data.element.length.type.coded |
	 simple.data.element.maximum.length |
	 simple.data.element.minimum.length |
	 code.set.indicator.coded |
	 class.designator.coded |
	 maintenance.operation.coded
	)* >

<!-- Segment: ELU data.element.usage.details -->
<!ELEMENT data.element.usage.details (
	 data.element.tag |
	 requirement.designator.coded |
	 sequence.number |
	 maintenance.operation.coded
	)* >

<!-- Segment: EMP employment.details -->
<!ELEMENT employment.details (
	 employment.qualifier |
	 employment.category.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 employment.category |
	 occupation.coded |
	 occupation |
	 qualification.classification.coded |
	 qualification.classification |
	 job.title |
	 qualification.area.coded
	)* >

<!-- Segment: EQA attached.equipment -->
<!ELEMENT attached.equipment (
	 equipment.qualifier |
	 equipment.identification.number |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 country.coded
	)* >

<!-- Segment: EQD equipment.details -->
<!ELEMENT equipment.details (
	 equipment.qualifier |
	 equipment.identification.number |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 country.coded |
	 equipment.size.and.type.identification |
	 equipment.size.and.type |
	 equipment.supplier.coded |
	 equipment.status.coded |
	 full.empty.indicator.coded
	)* >

<!-- Segment: EQN number.of.units -->
<!ELEMENT number.of.units (
	 number.of.units.literal |
	 number.of.units.qualifier
	)* >

<!-- Segment: ERC application.error.information -->
<!ELEMENT application.error.information (
	 application.error.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded
	)* >

<!-- Segment: ERP error.point.details -->
<!ELEMENT error.point.details (
	 message.section.coded |
	 message.item.number |
	 message.sub.item.number |
	 segment.tag |
	 sequence.number |
	 sequence.number.source.coded
	)* >

<!-- Segment: FCA financial.charges.allocation -->
<!ELEMENT financial.charges.allocation (
	 settlement.coded |
	 institution.branch.number |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 account.holder.number |
	 currency.coded
	)* >

<!-- Segment: FII financial.institution.information -->
<!ELEMENT financial.institution.information (
	 party.qualifier |
	 account.holder.number |
	 account.holder.name |
	 currency.coded |
	 institution.name.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 institution.branch.number |
	 institution.name |
	 institution.branch.place |
	 country.coded
	)* >

<!-- Segment: FNS footnote.set -->
<!ELEMENT footnote.set (
	 footnote.set.identifier |
	 identity.number.qualifier |
	 party.id.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 status.coded |
	 maintenance.operation.coded
	)* >

<!-- Segment: FNT footnote -->
<!ELEMENT footnote (
	 footnote.identifier |
	 identity.number.qualifier |
	 party.id.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 status.coded |
	 maintenance.operation.coded
	)* >

<!-- Segment: FTX free.text -->
<!ELEMENT free.text (
	 text.subject.qualifier |
	 text.function.coded |
	 free.text.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 free.text.literal |
	 language.coded
	)* >

<!-- Segment: GDS nature.of.cargo -->
<!ELEMENT nature.of.cargo (
	 nature.of.cargo.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded
	)* >

<!-- Segment: GID goods.item.details -->
<!ELEMENT goods.item.details (
	 goods.item.number |
	 number.of.packages |
	 type.of.packages.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 type.of.packages
	)* >

<!-- Segment: GIN goods.identity.number -->
<!ELEMENT goods.identity.number (
	 identity.number.qualifier |
	 identity.number
	)* >

<!-- Segment: GIR related.identification.numbers -->
<!ELEMENT related.identification.numbers (
	 set.identification.qualifier |
	 identity.number |
	 identity.number.qualifier |
	 status.coded
	)* >

<!-- Segment: GIS general.indicator -->
<!ELEMENT general.indicator (
	 processing.indicator.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 process.type.identification
	)* >

<!-- Segment: GOR governmental.requirements -->
<!ELEMENT governmental.requirements (
	 transport.movement.coded |
	 government.agency.coded |
	 government.involvement.coded |
	 government.action.coded |
	 government.procedure.coded
	)* >

<!-- Segment: GRU segment.group.usage.details -->
<!ELEMENT segment.group.usage.details (
	 group.identification |
	 requirement.designator.coded |
	 maximum.number.of.occurrences |
	 maintenance.operation.coded |
	 sequence.number
	)* >

<!-- Segment: HAN handling.instructions -->
<!ELEMENT handling.instructions (
	 handling.instructions.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 handling.instructions.literal |
	 hazardous.material.class.code.identification |
	 hazardous.material.class
	)* >

<!-- Segment: HYN hierarchy.information -->
<!ELEMENT hierarchy.information (
	 hierarchy.object.qualifier |
	 hierarchical.level.coded |
	 action.request.notification.coded |
	 item.number |
	 item.number.type.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded
	)* >

<!-- Segment: ICD insurance.cover.description -->
<!ELEMENT insurance.cover.description (
	 insurance.cover.type.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 insurance.cover.identification |
	 insurance.cover
	)* >

<!-- Segment: IDE identity -->
<!ELEMENT identity (
	 identification.qualifier |
	 identity.number |
	 identity.number.qualifier |
	 status.coded |
	 party.id.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 configuration.level |
	 hierarchical.id.number |
	 sequence.number |
	 characteristic.identification |
	 characteristic
	)* >

<!-- Segment: IHC person.characteristic -->
<!ELEMENT person.characteristic (
	 person.characteristic.qualifier |
	 person.inherited.characteristic.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 person.inherited.characteristic
	)* >

<!-- Segment: IMD item.description -->
<!ELEMENT item.description (
	 item.description.type.coded |
	 item.characteristic.coded |
	 item.description.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 item.description.literal |
	 language.coded |
	 surface.layer.indicator.coded
	)* >

<!-- Segment: IND index.details -->
<!ELEMENT index.details (
	 index.qualifier |
	 index.type.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 index.value |
	 index.value.representation.coded
	)* >

<!-- Segment: INP parties.to.instruction -->
<!ELEMENT parties.to.instruction (
	 party.enacting.instruction.identification |
	 recipient.of.the.instruction.identification |
	 instruction.qualifier |
	 instruction.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 instruction |
	 status.coded |
	 party.name.literal |
	 action.request.notification.coded
	)* >

<!-- Segment: INV inventory.management.related.details -->
<!ELEMENT inventory.management.related.details (
	 inventory.movement.direction.coded |
	 type.of.inventory.affected.coded |
	 reason.for.inventory.movement.coded |
	 inventory.balance.method.coded |
	 instruction.qualifier |
	 instruction.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 instruction
	)* >

<!-- Segment: IRQ information.required -->
<!ELEMENT information.required (
	 requested.information.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 requested.information
	)* >

<!-- Segment: LAN language -->
<!ELEMENT language (
	 language.qualifier |
	 language.coded |
	 language.literal
	)* >

<!-- Segment: LIN line.item -->
<!ELEMENT line.item (
	 line.item.number |
	 action.request.notification.coded |
	 item.number |
	 item.number.type.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 sub.line.indicator.coded |
	 configuration.level |
	 configuration.coded
	)* >

<!-- Segment: LOC place.location.identification -->
<!ELEMENT place.location.identification (
	 place.location.qualifier |
	 place.location.identification.literal |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 place.location |
	 related.place.location.one.identification |
	 related.place.location.one |
	 related.place.location.two.identification |
	 related.place.location.two |
	 relation.coded
	)* >

<!-- Segment: MEA measurements -->
<!ELEMENT measurements (
	 measurement.application.qualifier |
	 measurement.dimension.coded |
	 measurement.significance.coded |
	 measurement.attribute.identification |
	 measurement.attribute |
	 measure.unit.qualifier |
	 measurement.value |
	 range.minimum |
	 range.maximum |
	 significant.digits |
	 surface.layer.indicator.coded
	)* >

<!-- Segment: MEM membership.details -->
<!ELEMENT membership.details (
	 membership.qualifier |
	 membership.category.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 membership.category |
	 membership.status.coded |
	 membership.status |
	 membership.level.qualifier |
	 membership.level.identification |
	 membership.level |
	 rate.tariff.class.identification |
	 rate.tariff.class |
	 supplementary.rate.tariff.basis.identification |
	 change.reason.coded |
	 change.reason
	)* >

<!-- Segment: MKS market.sales.channel.information -->
<!ELEMENT market.sales.channel.information (
	 sector.subject.identification.qualifier |
	 sales.channel.identifier |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 action.request.notification.coded
	)* >

<!-- Segment: MOA monetary.amount -->
<!ELEMENT monetary.amount (
	 monetary.amount.type.qualifier |
	 monetary.amount.literal |
	 currency.coded |
	 currency.qualifier |
	 status.coded
	)* >

<!-- Segment: MSG message.type.identification -->
<!ELEMENT message.type.identification (
	 message.type.identifier |
	 version |
	 release |
	 control.agency |
	 association.assigned.identification |
	 revision.number |
	 class.designator.coded |
	 maintenance.operation.coded
	)* >

<!-- Segment: NAD name.and.address -->
<!ELEMENT name.and.address (
	 party.qualifier |
	 party.id.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 name.and.address.line |
	 party.name.literal |
	 party.name.format.coded |
	 street.and.number.p.o.box |
	 city.name |
	 country.sub.entity.identification |
	 postcode.identification |
	 country.coded
	)* >

<!-- Segment: NAT nationality -->
<!ELEMENT nationality (
	 nationality.qualifier |
	 nationality.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 nationality.literal
	)* >

<!-- Segment: PAC package -->
<!ELEMENT package (
	 number.of.packages |
	 packaging.level.coded |
	 packaging.related.information.coded |
	 packaging.terms.and.conditions.coded |
	 type.of.packages.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 type.of.packages |
	 item.description.type.coded |
	 item.number.type.coded |
	 returnable.package.freight.payment.responsibility.coded |
	 returnable.package.load.contents.coded
	)* >

<!-- Segment: PAI payment.instructions -->
<!ELEMENT payment.instructions (
	 payment.conditions.coded |
	 payment.guarantee.coded |
	 payment.means.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 payment.channel.coded
	)* >

<!-- Segment: PAS attendance -->
<!ELEMENT attendance (
	 attendance.qualifier |
	 attendee.category.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 attendee.category |
	 admission.type.coded |
	 admission.type |
	 discharge.type.coded |
	 discharge.type
	)* >

<!-- Segment: PAT payment.terms.basis -->
<!ELEMENT payment.terms.basis (
	 payment.terms.type.qualifier |
	 terms.of.payment.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 terms.of.payment |
	 payment.time.reference.coded |
	 time.relation.coded |
	 type.of.period.coded |
	 number.of.periods
	)* >

<!-- Segment: PCD percentage.details -->
<!ELEMENT percentage.details (
	 percentage.qualifier |
	 percentage |
	 percentage.basis.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded
	)* >

<!-- Segment: PCI package.identification -->
<!ELEMENT package.identification (
	 marking.instructions.coded |
	 shipping.marks |
	 container.package.status.coded |
	 type.of.marking.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded
	)* >

<!-- Segment: PDI person.demographic.information -->
<!ELEMENT person.demographic.information (
	 sex.coded |
	 marital.status.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 marital.status |
	 religion.coded |
	 religion
	)* >

<!-- Segment: PGI product.group.information -->
<!ELEMENT product.group.information (
	 product.group.type.coded |
	 product.group.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 product.group
	)* >

<!-- Segment: PIA additional.product.id -->
<!ELEMENT additional.product.id (
	 product.id.function.qualifier |
	 item.number |
	 item.number.type.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded
	)* >

<!-- Segment: PIT price.item.line -->
<!ELEMENT price.item.line (
	 line.item.number |
	 action.request.notification.coded |
	 price.change.indicator.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 article.availability.coded |
	 sub.line.indicator.coded |
	 configuration.level |
	 configuration.coded
	)* >

<!-- Segment: PNA party.name -->
<!ELEMENT party.name (
	 party.qualifier |
	 identity.number |
	 identity.number.qualifier |
	 status.coded |
	 party.id.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 name.type.coded |
	 name.status.coded |
	 name.component.qualifier |
	 name.component |
	 name.component.status.coded |
	 name.component.original.representation.coded
	)* >

<!-- Segment: PRC process.identification -->
<!ELEMENT process.identification (
	 process.type.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 process.type |
	 process.identification.literal |
	 process
	)* >

<!-- Segment: PRI price.details -->
<!ELEMENT price.details (
	 price.qualifier |
	 price |
	 price.type.coded |
	 price.type.qualifier |
	 unit.price.basis |
	 measure.unit.qualifier |
	 sub.line.price.change.coded
	)* >

<!-- Segment: PSD physical.sample.description -->
<!ELEMENT physical.sample.description (
	 sample.process.status.coded |
	 sample.selection.method.coded |
	 frequency.qualifier |
	 frequency.value |
	 measure.unit.qualifier |
	 sample.description.coded |
	 sample.direction.coded |
	 sample.location.coded |
	 sample.location
	)* >

<!-- Segment: PTY priority -->
<!ELEMENT priority (
	 priority.qualifier |
	 priority.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 priority.literal
	)* >

<!-- Segment: QTY quantity -->
<!ELEMENT quantity (
	 quantity.qualifier |
	 quantity.literal |
	 measure.unit.qualifier
	)* >

<!-- Segment: QUA qualification -->
<!ELEMENT qualification (
	 qualification.qualifier |
	 qualification.classification.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 qualification.classification
	)* >

<!-- Segment: QVR quantity.variances -->
<!ELEMENT quantity.variances (
	 quantity.difference |
	 quantity.qualifier |
	 discrepancy.coded |
	 change.reason.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 change.reason
	)* >

<!-- Segment: RCS requirements.and.conditions -->
<!ELEMENT requirements.and.conditions (
	 sector.subject.identification.qualifier |
	 requirement.condition.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 requirement.or.condition |
	 action.request.notification.coded
	)* >

<!-- Segment: REL relationship -->
<!ELEMENT relationship (
	 relationship.qualifier |
	 relationship.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 relationship.literal
	)* >

<!-- Segment: RFF reference -->
<!ELEMENT reference (
	 reference.qualifier |
	 reference.number |
	 line.number |
	 reference.version.number
	)* >

<!-- Segment: RNG range.details -->
<!ELEMENT range.details (
	 range.type.qualifier |
	 measure.unit.qualifier |
	 range.minimum |
	 range.maximum
	)* >

<!-- Segment: RSL result -->
<!ELEMENT result (
	 result.qualifier |
	 result.type.coded |
	 measurement.value |
	 measurement.significance.coded |
	 measurement.attribute.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 measurement.attribute |
	 measurement.unit.identification |
	 measurement.unit |
	 result.normalcy.indicator.coded
	)* >

<!-- Segment: RTE rate.details -->
<!ELEMENT rate.details (
	 rate.type.qualifier |
	 rate.per.unit |
	 unit.price.basis |
	 measure.unit.qualifier
	)* >

<!-- Segment: SAL remuneration.type.identification -->
<!ELEMENT remuneration.type.identification (
	 remuneration.type.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 remuneration.type
	)* >

<!-- Segment: SCC scheduling.conditions -->
<!ELEMENT scheduling.conditions (
	 delivery.plan.status.indicator.coded |
	 delivery.requirements.coded |
	 frequency.coded |
	 despatch.pattern.coded |
	 despatch.pattern.timing.coded
	)* >

<!-- Segment: SCD structure.component.definition -->
<!ELEMENT structure.component.definition (
	 component.function.qualifier |
	 structure.component.identifier |
	 identity.number.qualifier |
	 party.id.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 status.coded |
	 configuration.level |
	 hierarchical.id.number |
	 sequence.number |
	 characteristic.identification |
	 characteristic
	)* >

<!-- Segment: SEG segment.identification -->
<!ELEMENT segment.identification (
	 segment.tag |
	 class.designator.coded |
	 maintenance.operation.coded
	)* >

<!-- Segment: SEL seal.number -->
<!ELEMENT seal.number (
	 seal.number.literal |
	 sealing.party.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 sealing.party |
	 seal.condition.coded
	)* >

<!-- Segment: SEQ sequence.details -->
<!ELEMENT sequence.details (
	 status.indicator.coded |
	 sequence.number |
	 sequence.number.source.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded
	)* >

<!-- Segment: SFI safety.information -->
<!ELEMENT safety.information (
	 hierarchical.id.number |
	 safety.section |
	 safety.section.name |
	 additional.safety.information.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 additional.safety.information |
	 maintenance.operation.coded
	)* >

<!-- Segment: SGP split.goods.placement -->
<!ELEMENT split.goods.placement (
	 equipment.identification.number |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 country.coded |
	 number.of.packages
	)* >

<!-- Segment: SGU segment.usage.details -->
<!ELEMENT segment.usage.details (
	 segment.tag |
	 requirement.designator.coded |
	 maximum.number.of.occurrences |
	 level.number |
	 sequence.number |
	 message.section.coded |
	 maintenance.operation.coded
	)* >

<!-- Segment: SPR organisation.classification.details -->
<!ELEMENT organisation.classification.details (
	 sector.subject.identification.qualifier |
	 organisation.classification.coded |
	 organisational.class.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 organisational.class
	)* >

<!-- Segment: SPS sampling.parameters.for.summary.statistics -->
<!ELEMENT sampling.parameters.for.summary.statistics (
	 frequency.qualifier |
	 frequency.value |
	 measure.unit.qualifier |
	 confidence.limit |
	 size.qualifier |
	 size
	)* >

<!-- Segment: STA statistics -->
<!ELEMENT statistics (
	 statistic.type.coded |
	 measurement.value |
	 measure.unit.qualifier |
	 measurement.dimension.coded |
	 measurement.significance.coded
	)* >

<!-- Segment: STC statistical.concept -->
<!ELEMENT statistical.concept (
	 statistical.concept.identifier |
	 identity.number.qualifier |
	 party.id.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 status.coded |
	 maintenance.operation.coded
	)* >

<!-- Segment: STG stages -->
<!ELEMENT stages (
	 stages.qualifier |
	 number.of.stages |
	 actual.stage.count
	)* >

<!-- Segment: STS status -->
<!ELEMENT status (
	 status.type.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 status.event.coded |
	 status.event |
	 status.reason.coded |
	 status.reason
	)* >

<!-- Segment: TAX duty.tax.fee.details -->
<!ELEMENT duty.tax.fee.details (
	 duty.tax.fee.function.qualifier |
	 duty.tax.fee.type.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 duty.tax.fee.type |
	 duty.tax.fee.account.identification |
	 duty.tax.fee.assessment.basis |
	 duty.tax.fee.rate.identification |
	 duty.tax.fee.rate |
	 duty.tax.fee.rate.basis.identification |
	 duty.tax.fee.category.coded |
	 party.tax.identification.number
	)* >

<!-- Segment: TCC transport.charge.rate.calculations -->
<!ELEMENT transport.charge.rate.calculations (
	 freight.and.charges.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 freight.and.charges |
	 prepaid.collect.indicator.coded |
	 item.number |
	 rate.tariff.class.identification |
	 rate.tariff.class |
	 supplementary.rate.tariff.basis.identification |
	 commodity.rate.identification
	)* >

<!-- Segment: TDT details.of.transport -->
<!ELEMENT details.of.transport (
	 transport.stage.qualifier |
	 conveyance.reference.number |
	 mode.of.transport.coded |
	 mode.of.transport |
	 type.of.means.of.transport.identification |
	 type.of.means.of.transport |
	 carrier.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 carrier.name |
	 transit.direction.coded |
	 excess.transportation.reason.coded |
	 excess.transportation.responsibility.coded |
	 customer.authorization.number |
	 id.of.means.of.transport.identification |
	 id.of.the.means.of.transport |
	 nationality.of.means.of.transport.coded |
	 transport.ownership.coded
	)* >

<!-- Segment: TEM test.method -->
<!ELEMENT test.method (
	 test.method.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 test.description |
	 test.route.of.administering.coded |
	 test.media.coded |
	 measurement.application.qualifier |
	 test.revision.number |
	 test.reason.identification |
	 test.reason
	)* >

<!-- Segment: TMD transport.movement.details -->
<!ELEMENT transport.movement.details (
	 movement.type.coded |
	 movement.type |
	 equipment.plan |
	 haulage.arrangements.coded
	)* >

<!-- Segment: TMP temperature -->
<!ELEMENT temperature (
	 temperature.qualifier |
	 temperature.setting |
	 measure.unit.qualifier
	)* >

<!-- Segment: TOD terms.of.delivery.or.transport -->
<!ELEMENT terms.of.delivery.or.transport (
	 terms.of.delivery.or.transport.function.coded |
	 transport.charges.method.of.payment.coded |
	 terms.of.delivery.or.transport.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 terms.of.delivery.or.transport.literal
	)* >

<!-- Segment: TPL transport.placement -->
<!ELEMENT transport.placement (
	 id.of.means.of.transport.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 id.of.the.means.of.transport |
	 nationality.of.means.of.transport.coded
	)* >

<!-- Segment: TRU technical.rules -->
<!ELEMENT technical.rules (
	 identity.number |
	 version |
	 release |
	 rule.part.identification |
	 code.list.responsible.agency.coded
	)* >

<!-- Segment: TSR transport.service.requirements -->
<!ELEMENT transport.service.requirements (
	 contract.and.carriage.condition.coded |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 service.requirement.coded |
	 transport.priority.coded |
	 nature.of.cargo.coded
	)* >

<!-- Segment: TXT text -->
<!ELEMENT text (
	 text.reference.code |
	 free.form.text
	)* >

<!-- Segment: UNB interchange.header -->
<!ELEMENT interchange.header (
	 syntax.identifier |
	 syntax.version.number |
	 sender.identification |
	 partner.identification.code.qualifier |
	 address.for.reverse.routing |
	 recipient.identification |
	 routing.address |
	 date |
	 time |
	 interchange.control.reference |
	 recipients.reference.password |
	 recipients.reference.password.qualifier |
	 application.reference |
	 processing.priority.code |
	 acknowledgement.request |
	 communications.agreement.id |
	 test.indicator
	)* >

<!-- Segment: UNE functional.group.trailer -->
<!ELEMENT functional.group.trailer (
	 number.of.messages |
	 functional.group.reference.number
	)* >

<!-- Segment: UNG functional.group.header -->
<!ELEMENT functional.group.header (
	 functional.group.identification |
	 application.senders.identification |
	 partner.identification.code.qualifier |
	 recipients.identification |
	 date |
	 time |
	 functional.group.reference.number |
	 controlling.agency |
	 message.version.number |
	 message.release.number |
	 association.assigned.code |
	 application.password
	)* >

<!-- Segment: UNH message.header -->
<!ELEMENT message.header (
	 message.reference.number |
	 message.type |
	 message.version.number |
	 message.release.number |
	 controlling.agency |
	 association.assigned.code |
	 common.access.reference |
	 sequence.of.transfers |
	 first.and.last.transfer
	)* >

<!-- Segment: UNS section.control -->
<!ELEMENT section.control (
	 section.identification
	)* >

<!-- Segment: UNT message.trailer -->
<!ELEMENT message.trailer (
	 number.of.segments.in.the.message |
	 message.reference.number
	)* >

<!-- Segment: UNZ interchange.trailer -->
<!ELEMENT interchange.trailer (
	 interchange.control.count |
	 interchange.control.reference
	)* >

<!-- Segment: VLI value.list.identification -->
<!ELEMENT value.list.identification (
	 value.list.identifier |
	 identity.number.qualifier |
	 party.id.identification |
	 code.list.qualifier |
	 code.list.responsible.agency.coded |
	 status.coded |
	 value.list.name |
	 class.designator.coded |
	 value.list.type.coded |
	 characteristic.identification |
	 characteristic |
	 maintenance.operation.coded
	)* >
<!ELEMENT edicooked (
	address|
	agreement.identification|
	adjustment.details|
	allowance.or.charge|
	additional.information|
	additional.price.information|
	amounts.relationship.details|
	array.information|
	array.structure.identification|
	attribute|
	authentication.result|
	beginning.of.message|
	structure.identification|
	business.function|
	characteristic.value|
	credit.cover.details|
	characteristic.class.id|
	physical.or.logical.state|
	code.set.identification|
	code.value.definition|
	computer.environment.details|
	clinical.information|
	clinical.intervention|
	composite.data.element.identification|
	consignment.information|
	control.total|
	component.details|
	communication.contact|
	contribution.details|
	charge.payment.instructions|
	consignment.packing.sequence|
	customs.status.of.goods|
	contact.information|
	currencies|
	damage|
	dangerous.goods|
	directory.identification|
	dimensions|
	document.line.identification|
	delivery.limitations|
	document.message.summary|
	document.message.details|
	dosage.administration|
	data.set.identification|
	date.time.period|
	external.file.link.identification|
	simple.data.element.details|
	data.element.usage.details|
	employment.details|
	attached.equipment|
	equipment.details|
	number.of.units|
	application.error.information|
	error.point.details|
	financial.charges.allocation|
	financial.institution.information|
	footnote.set|
	footnote|
	free.text|
	nature.of.cargo|
	goods.item.details|
	goods.identity.number|
	related.identification.numbers|
	general.indicator|
	governmental.requirements|
	segment.group.usage.details|
	handling.instructions|
	hierarchy.information|
	insurance.cover.description|
	identity|
	person.characteristic|
	item.description|
	index.details|
	parties.to.instruction|
	inventory.management.related.details|
	information.required|
	language|
	line.item|
	place.location.identification|
	measurements|
	membership.details|
	market.sales.channel.information|
	monetary.amount|
	message.type.identification|
	name.and.address|
	nationality|
	package|
	payment.instructions|
	attendance|
	payment.terms.basis|
	percentage.details|
	package.identification|
	person.demographic.information|
	product.group.information|
	additional.product.id|
	price.item.line|
	party.name|
	process.identification|
	price.details|
	physical.sample.description|
	priority|
	quantity|
	qualification|
	quantity.variances|
	requirements.and.conditions|
	relationship|
	reference|
	range.details|
	result|
	rate.details|
	remuneration.type.identification|
	scheduling.conditions|
	structure.component.definition|
	segment.identification|
	seal.number|
	sequence.details|
	safety.information|
	split.goods.placement|
	segment.usage.details|
	organisation.classification.details|
	sampling.parameters.for.summary.statistics|
	statistics|
	statistical.concept|
	stages|
	status|
	duty.tax.fee.details|
	transport.charge.rate.calculations|
	details.of.transport|
	test.method|
	transport.movement.details|
	temperature|
	terms.of.delivery.or.transport|
	transport.placement|
	technical.rules|
	transport.service.requirements|
	text|
	interchange.header|
	functional.group.trailer|
	functional.group.header|
	message.header|
	section.control|
	message.trailer|
	interchange.trailer|
	value.list.identification)* >
<!-- 0001 --> <!ELEMENT syntax.identifier (#PCDATA)* >
              <!ATTLIST syntax.identifier is CDATA #REQUIRED >
<!-- 0002 --> <!ELEMENT syntax.version.number (#PCDATA) >
<!-- 0004 --> <!ELEMENT sender.identification (#PCDATA) >
<!-- 0007 --> <!ELEMENT partner.identification.code.qualifier (#PCDATA)* >
              <!ATTLIST partner.identification.code.qualifier is CDATA #REQUIRED >
<!-- 0008 --> <!ELEMENT address.for.reverse.routing (#PCDATA) >
<!-- 0010 --> <!ELEMENT recipient.identification (#PCDATA) >
<!-- 0014 --> <!ELEMENT routing.address (#PCDATA) >
<!-- 0017 --> <!ELEMENT date (#PCDATA) >
<!-- 0019 --> <!ELEMENT time (#PCDATA) >
<!-- 0020 --> <!ELEMENT interchange.control.reference (#PCDATA) >
<!-- 0022 --> <!ELEMENT recipients.reference.password (#PCDATA) >
<!-- 0025 --> <!ELEMENT recipients.reference.password.qualifier (#PCDATA)* >
              <!ATTLIST recipients.reference.password.qualifier is CDATA #REQUIRED >
<!-- 0026 --> <!ELEMENT application.reference (#PCDATA) >
<!-- 0029 --> <!ELEMENT processing.priority.code (#PCDATA)* >
              <!ATTLIST processing.priority.code is CDATA #REQUIRED >
<!-- 0031 --> <!ELEMENT acknowledgement.request (#PCDATA)* >
              <!ATTLIST acknowledgement.request is CDATA #REQUIRED >
<!-- 0032 --> <!ELEMENT communications.agreement.id (#PCDATA) >
<!-- 0035 --> <!ELEMENT test.indicator (#PCDATA)* >
              <!ATTLIST test.indicator is CDATA #REQUIRED >
<!-- 0036 --> <!ELEMENT interchange.control.count (#PCDATA) >
<!-- 0038 --> <!ELEMENT functional.group.identification (#PCDATA) >
<!-- 0040 --> <!ELEMENT application.senders.identification (#PCDATA) >
<!-- 0044 --> <!ELEMENT recipients.identification (#PCDATA) >
<!-- 0048 --> <!ELEMENT functional.group.reference.number (#PCDATA) >
<!-- 0051 --> <!ELEMENT controlling.agency (#PCDATA)* >
              <!ATTLIST controlling.agency is CDATA #REQUIRED >
<!-- 0052 --> <!ELEMENT message.version.number (#PCDATA) >
<!-- 0054 --> <!ELEMENT message.release.number (#PCDATA) >
<!-- 0057 --> <!ELEMENT association.assigned.code (#PCDATA)* >
              <!ATTLIST association.assigned.code is CDATA #REQUIRED >
<!-- 0058 --> <!ELEMENT application.password (#PCDATA) >
<!-- 0060 --> <!ELEMENT number.of.messages (#PCDATA) >
<!-- 0062 --> <!ELEMENT message.reference.number (#PCDATA) >
<!-- 0065 --> <!ELEMENT message.type (#PCDATA)* >
              <!ATTLIST message.type is CDATA #REQUIRED >
<!-- 0068 --> <!ELEMENT common.access.reference (#PCDATA) >
<!-- 0070 --> <!ELEMENT sequence.of.transfers (#PCDATA) >
<!-- 0073 --> <!ELEMENT first.and.last.transfer (#PCDATA)* >
              <!ATTLIST first.and.last.transfer is CDATA #REQUIRED >
<!-- 0074 --> <!ELEMENT number.of.segments.in.the.message (#PCDATA) >
<!-- 0077 --> <!ELEMENT text.reference.code (#PCDATA) >
<!-- 0078 --> <!ELEMENT free.form.text (#PCDATA) >
<!-- 0081 --> <!ELEMENT section.identification (#PCDATA)* >
              <!ATTLIST section.identification is CDATA #REQUIRED >
<!-- 1000 --> <!ELEMENT document.message.name (#PCDATA) >
<!-- 1001 --> <!ELEMENT document.message.name.coded (#PCDATA)* >
              <!ATTLIST document.message.name.coded is CDATA #REQUIRED >
<!-- 1004 --> <!ELEMENT document.message.number (#PCDATA) >
<!-- 1049 --> <!ELEMENT message.section.coded (#PCDATA)* >
              <!ATTLIST message.section.coded is CDATA #REQUIRED >
<!-- 1050 --> <!ELEMENT sequence.number (#PCDATA) >
<!-- 1052 --> <!ELEMENT message.item.number (#PCDATA) >
<!-- 1054 --> <!ELEMENT message.sub.item.number (#PCDATA) >
<!-- 1056 --> <!ELEMENT version (#PCDATA) >
<!-- 1058 --> <!ELEMENT release (#PCDATA) >
<!-- 1060 --> <!ELEMENT revision.number (#PCDATA) >
<!-- 1073 --> <!ELEMENT document.line.indicator.coded (#PCDATA)* >
              <!ATTLIST document.line.indicator.coded is CDATA #REQUIRED >
<!-- 1082 --> <!ELEMENT line.item.number (#PCDATA) >
<!-- 1131 --> <!ELEMENT code.list.qualifier (#PCDATA)* >
              <!ATTLIST code.list.qualifier is CDATA #REQUIRED >
<!-- 1153 --> <!ELEMENT reference.qualifier (#PCDATA)* >
              <!ATTLIST reference.qualifier is CDATA #REQUIRED >
<!-- 1154 --> <!ELEMENT reference.number (#PCDATA) >
<!-- 1156 --> <!ELEMENT line.number (#PCDATA) >
<!-- 1159 --> <!ELEMENT sequence.number.source.coded (#PCDATA)* >
              <!ATTLIST sequence.number.source.coded is CDATA #REQUIRED >
<!-- 1218 --> <!ELEMENT number.of.originals.of.document.required (#PCDATA) >
<!-- 1220 --> <!ELEMENT number.of.copies.of.document.required (#PCDATA) >
<!-- 1222 --> <!ELEMENT configuration.level (#PCDATA) >
<!-- 1225 --> <!ELEMENT message.function.coded (#PCDATA)* >
              <!ATTLIST message.function.coded is CDATA #REQUIRED >
<!-- 1227 --> <!ELEMENT calculation.sequence.indicator.coded (#PCDATA)* >
              <!ATTLIST calculation.sequence.indicator.coded is CDATA #REQUIRED >
<!-- 1228 --> <!ELEMENT action.request.notification (#PCDATA) >
<!-- 1229 --> <!ELEMENT action.request.notification.coded (#PCDATA)* >
              <!ATTLIST action.request.notification.coded is CDATA #REQUIRED >
<!-- 1230 --> <!ELEMENT allowance.or.charge.number (#PCDATA) >
<!-- 1245 --> <!ELEMENT status.indicator.coded (#PCDATA)* >
              <!ATTLIST status.indicator.coded is CDATA #REQUIRED >
<!-- 1312 --> <!ELEMENT consignment.load.sequence.number (#PCDATA) >
<!-- 1366 --> <!ELEMENT document.message.source (#PCDATA) >
<!-- 1373 --> <!ELEMENT document.message.status.coded (#PCDATA)* >
              <!ATTLIST document.message.status.coded is CDATA #REQUIRED >
<!-- 1475 --> <!ELEMENT message.type.identifier (#PCDATA) >
<!-- 1476 --> <!ELEMENT control.agency (#PCDATA) >
<!-- 1490 --> <!ELEMENT consolidation.item.number (#PCDATA) >
<!-- 1496 --> <!ELEMENT goods.item.number (#PCDATA) >
<!-- 1501 --> <!ELEMENT computer.environment.details.qualifier (#PCDATA)* >
              <!ATTLIST computer.environment.details.qualifier is CDATA #REQUIRED >
<!-- 1502 --> <!ELEMENT data.format (#PCDATA) >
<!-- 1503 --> <!ELEMENT data.format.coded (#PCDATA)* >
              <!ATTLIST data.format.coded is CDATA #REQUIRED >
<!-- 1505 --> <!ELEMENT value.list.type.coded (#PCDATA)* >
              <!ATTLIST value.list.type.coded is CDATA #REQUIRED >
<!-- 1507 --> <!ELEMENT class.designator.coded (#PCDATA)* >
              <!ATTLIST class.designator.coded is CDATA #REQUIRED >
<!-- 1508 --> <!ELEMENT file.name (#PCDATA) >
<!-- 1510 --> <!ELEMENT computer.environment (#PCDATA) >
<!-- 1511 --> <!ELEMENT computer.environment.coded (#PCDATA) >
<!-- 1514 --> <!ELEMENT value.list.name (#PCDATA) >
<!-- 1516 --> <!ELEMENT file.format (#PCDATA) >
<!-- 1518 --> <!ELEMENT value.list.identifier (#PCDATA) >
<!-- 1520 --> <!ELEMENT data.set.identifier (#PCDATA) >
<!-- 1523 --> <!ELEMENT association.assigned.identification (#PCDATA) >
<!-- 2005 --> <!ELEMENT date.time.period.qualifier (#PCDATA)* >
              <!ATTLIST date.time.period.qualifier is CDATA #REQUIRED >
<!-- 2009 --> <!ELEMENT time.relation.coded (#PCDATA)* >
              <!ATTLIST time.relation.coded is CDATA #REQUIRED >
<!-- 2013 --> <!ELEMENT frequency.coded (#PCDATA)* >
              <!ATTLIST frequency.coded is CDATA #REQUIRED >
<!-- 2015 --> <!ELEMENT despatch.pattern.coded (#PCDATA)* >
              <!ATTLIST despatch.pattern.coded is CDATA #REQUIRED >
<!-- 2017 --> <!ELEMENT despatch.pattern.timing.coded (#PCDATA)* >
              <!ATTLIST despatch.pattern.timing.coded is CDATA #REQUIRED >
<!-- 2151 --> <!ELEMENT type.of.period.coded (#PCDATA)* >
              <!ATTLIST type.of.period.coded is CDATA #REQUIRED >
<!-- 2152 --> <!ELEMENT number.of.periods (#PCDATA) >
<!-- 2379 --> <!ELEMENT date.time.period.format.qualifier (#PCDATA)* >
              <!ATTLIST date.time.period.format.qualifier is CDATA #REQUIRED >
<!-- 2380 --> <!ELEMENT date.time.period.literal (#PCDATA) >
<!-- 2475 --> <!ELEMENT payment.time.reference.coded (#PCDATA)* >
              <!ATTLIST payment.time.reference.coded is CDATA #REQUIRED >
<!-- 3035 --> <!ELEMENT party.qualifier (#PCDATA)* >
              <!ATTLIST party.qualifier is CDATA #REQUIRED >
<!-- 3036 --> <!ELEMENT party.name.literal (#PCDATA) >
<!-- 3039 --> <!ELEMENT party.id.identification (#PCDATA) >
<!-- 3042 --> <!ELEMENT street.and.number.p.o.box (#PCDATA) >
<!-- 3045 --> <!ELEMENT party.name.format.coded (#PCDATA)* >
              <!ATTLIST party.name.format.coded is CDATA #REQUIRED >
<!-- 3055 --> <!ELEMENT code.list.responsible.agency.coded (#PCDATA)* >
              <!ATTLIST code.list.responsible.agency.coded is CDATA #REQUIRED >
<!-- 3077 --> <!ELEMENT test.media.coded (#PCDATA)* >
              <!ATTLIST test.media.coded is CDATA #REQUIRED >
<!-- 3079 --> <!ELEMENT organisation.classification.coded (#PCDATA)* >
              <!ATTLIST organisation.classification.coded is CDATA #REQUIRED >
<!-- 3082 --> <!ELEMENT organisational.class (#PCDATA) >
<!-- 3083 --> <!ELEMENT organisational.class.identification (#PCDATA) >
<!-- 3124 --> <!ELEMENT name.and.address.line (#PCDATA) >
<!-- 3127 --> <!ELEMENT carrier.identification (#PCDATA) >
<!-- 3128 --> <!ELEMENT carrier.name (#PCDATA) >
<!-- 3131 --> <!ELEMENT address.type.coded (#PCDATA)* >
              <!ATTLIST address.type.coded is CDATA #REQUIRED >
<!-- 3139 --> <!ELEMENT contact.function.coded (#PCDATA)* >
              <!ATTLIST contact.function.coded is CDATA #REQUIRED >
<!-- 3148 --> <!ELEMENT communication.number (#PCDATA) >
<!-- 3153 --> <!ELEMENT communication.channel.identifier.coded (#PCDATA)* >
              <!ATTLIST communication.channel.identifier.coded is CDATA #REQUIRED >
<!-- 3155 --> <!ELEMENT communication.channel.qualifier (#PCDATA)* >
              <!ATTLIST communication.channel.qualifier is CDATA #REQUIRED >
<!-- 3164 --> <!ELEMENT city.name (#PCDATA) >
<!-- 3192 --> <!ELEMENT account.holder.name (#PCDATA) >
<!-- 3194 --> <!ELEMENT account.holder.number (#PCDATA) >
<!-- 3207 --> <!ELEMENT country.coded (#PCDATA) >
<!-- 3222 --> <!ELEMENT related.place.location.one (#PCDATA) >
<!-- 3223 --> <!ELEMENT related.place.location.one.identification (#PCDATA) >
<!-- 3224 --> <!ELEMENT place.location (#PCDATA) >
<!-- 3225 --> <!ELEMENT place.location.identification.literal (#PCDATA) >
<!-- 3227 --> <!ELEMENT place.location.qualifier (#PCDATA)* >
              <!ATTLIST place.location.qualifier is CDATA #REQUIRED >
<!-- 3228 --> <!ELEMENT country.sub.entity (#PCDATA) >
<!-- 3229 --> <!ELEMENT country.sub.entity.identification (#PCDATA) >
<!-- 3232 --> <!ELEMENT related.place.location.two (#PCDATA) >
<!-- 3233 --> <!ELEMENT related.place.location.two.identification (#PCDATA) >
<!-- 3236 --> <!ELEMENT sample.location (#PCDATA) >
<!-- 3237 --> <!ELEMENT sample.location.coded (#PCDATA)* >
              <!ATTLIST sample.location.coded is CDATA #REQUIRED >
<!-- 3239 --> <!ELEMENT country.of.origin.coded (#PCDATA) >
<!-- 3251 --> <!ELEMENT postcode.identification (#PCDATA) >
<!-- 3279 --> <!ELEMENT geographic.environment.coded (#PCDATA)* >
              <!ATTLIST geographic.environment.coded is CDATA #REQUIRED >
<!-- 3285 --> <!ELEMENT recipient.of.the.instruction.identification (#PCDATA)* >
              <!ATTLIST recipient.of.the.instruction.identification is CDATA #REQUIRED >
<!-- 3286 --> <!ELEMENT address.component (#PCDATA) >
<!-- 3289 --> <!ELEMENT person.characteristic.qualifier (#PCDATA)* >
              <!ATTLIST person.characteristic.qualifier is CDATA #REQUIRED >
<!-- 3292 --> <!ELEMENT nationality.literal (#PCDATA) >
<!-- 3293 --> <!ELEMENT nationality.coded (#PCDATA) >
<!-- 3295 --> <!ELEMENT name.component.original.representation.coded (#PCDATA)* >
              <!ATTLIST name.component.original.representation.coded is CDATA #REQUIRED >
<!-- 3299 --> <!ELEMENT address.purpose.coded (#PCDATA)* >
              <!ATTLIST address.purpose.coded is CDATA #REQUIRED >
<!-- 3301 --> <!ELEMENT party.enacting.instruction.identification (#PCDATA)* >
              <!ATTLIST party.enacting.instruction.identification is CDATA #REQUIRED >
<!-- 3310 --> <!ELEMENT person.inherited.characteristic (#PCDATA) >
<!-- 3311 --> <!ELEMENT person.inherited.characteristic.identification (#PCDATA) >
<!-- 3397 --> <!ELEMENT name.status.coded (#PCDATA)* >
              <!ATTLIST name.status.coded is CDATA #REQUIRED >
<!-- 3398 --> <!ELEMENT name.component (#PCDATA) >
<!-- 3401 --> <!ELEMENT name.component.status.coded (#PCDATA)* >
              <!ATTLIST name.component.status.coded is CDATA #REQUIRED >
<!-- 3403 --> <!ELEMENT name.type.coded (#PCDATA)* >
              <!ATTLIST name.type.coded is CDATA #REQUIRED >
<!-- 3405 --> <!ELEMENT name.component.qualifier (#PCDATA)* >
              <!ATTLIST name.component.qualifier is CDATA #REQUIRED >
<!-- 3412 --> <!ELEMENT department.or.employee (#PCDATA) >
<!-- 3413 --> <!ELEMENT department.or.employee.identification (#PCDATA) >
<!-- 3432 --> <!ELEMENT institution.name (#PCDATA) >
<!-- 3433 --> <!ELEMENT institution.name.identification (#PCDATA) >
<!-- 3434 --> <!ELEMENT institution.branch.number (#PCDATA) >
<!-- 3436 --> <!ELEMENT institution.branch.place (#PCDATA) >
<!-- 3446 --> <!ELEMENT party.tax.identification.number (#PCDATA) >
<!-- 3452 --> <!ELEMENT language.literal (#PCDATA) >
<!-- 3453 --> <!ELEMENT language.coded (#PCDATA) >
<!-- 3455 --> <!ELEMENT language.qualifier (#PCDATA)* >
              <!ATTLIST language.qualifier is CDATA #REQUIRED >
<!-- 3475 --> <!ELEMENT address.status.coded (#PCDATA)* >
              <!ATTLIST address.status.coded is CDATA #REQUIRED >
<!-- 3477 --> <!ELEMENT address.format.coded (#PCDATA)* >
              <!ATTLIST address.format.coded is CDATA #REQUIRED >
<!-- 3478 --> <!ELEMENT marital.status (#PCDATA) >
<!-- 3479 --> <!ELEMENT marital.status.coded (#PCDATA)* >
              <!ATTLIST marital.status.coded is CDATA #REQUIRED >
<!-- 3482 --> <!ELEMENT religion (#PCDATA) >
<!-- 3483 --> <!ELEMENT religion.coded (#PCDATA) >
<!-- 3493 --> <!ELEMENT nationality.qualifier (#PCDATA)* >
              <!ATTLIST nationality.qualifier is CDATA #REQUIRED >
<!-- 3494 --> <!ELEMENT job.title (#PCDATA) >
<!-- 3496 --> <!ELEMENT sales.channel.identifier (#PCDATA) >
<!-- 3499 --> <!ELEMENT sex.coded (#PCDATA) >
<!-- 4000 --> <!ELEMENT reference.version.number (#PCDATA) >
<!-- 4017 --> <!ELEMENT delivery.plan.status.indicator.coded (#PCDATA)* >
              <!ATTLIST delivery.plan.status.indicator.coded is CDATA #REQUIRED >
<!-- 4022 --> <!ELEMENT business.description (#PCDATA) >
<!-- 4025 --> <!ELEMENT business.function.coded (#PCDATA)* >
              <!ATTLIST business.function.coded is CDATA #REQUIRED >
<!-- 4027 --> <!ELEMENT business.function.qualifier (#PCDATA)* >
              <!ATTLIST business.function.qualifier is CDATA #REQUIRED >
<!-- 4035 --> <!ELEMENT priority.qualifier (#PCDATA)* >
              <!ATTLIST priority.qualifier is CDATA #REQUIRED >
<!-- 4036 --> <!ELEMENT priority.literal (#PCDATA) >
<!-- 4037 --> <!ELEMENT priority.coded (#PCDATA) >
<!-- 4038 --> <!ELEMENT additional.safety.information (#PCDATA) >
<!-- 4039 --> <!ELEMENT additional.safety.information.coded (#PCDATA) >
<!-- 4043 --> <!ELEMENT class.of.trade.coded (#PCDATA)* >
              <!ATTLIST class.of.trade.coded is CDATA #REQUIRED >
<!-- 4044 --> <!ELEMENT safety.section.name (#PCDATA) >
<!-- 4046 --> <!ELEMENT safety.section (#PCDATA) >
<!-- 4048 --> <!ELEMENT certainty (#PCDATA) >
<!-- 4049 --> <!ELEMENT certainty.coded (#PCDATA) >
<!-- 4051 --> <!ELEMENT characteristic.relevance.coded (#PCDATA)* >
              <!ATTLIST characteristic.relevance.coded is CDATA #REQUIRED >
<!-- 4052 --> <!ELEMENT terms.of.delivery.or.transport.literal (#PCDATA) >
<!-- 4053 --> <!ELEMENT terms.of.delivery.or.transport.coded (#PCDATA) >
<!-- 4055 --> <!ELEMENT terms.of.delivery.or.transport.function.coded (#PCDATA)* >
              <!ATTLIST terms.of.delivery.or.transport.function.coded is CDATA #REQUIRED >
<!-- 4065 --> <!ELEMENT contract.and.carriage.condition.coded (#PCDATA)* >
              <!ATTLIST contract.and.carriage.condition.coded is CDATA #REQUIRED >
<!-- 4078 --> <!ELEMENT handling.instructions.literal (#PCDATA) >
<!-- 4079 --> <!ELEMENT handling.instructions.coded (#PCDATA) >
<!-- 4183 --> <!ELEMENT special.conditions.coded (#PCDATA)* >
              <!ATTLIST special.conditions.coded is CDATA #REQUIRED >
<!-- 4215 --> <!ELEMENT transport.charges.method.of.payment.coded (#PCDATA)* >
              <!ATTLIST transport.charges.method.of.payment.coded is CDATA #REQUIRED >
<!-- 4219 --> <!ELEMENT transport.priority.coded (#PCDATA)* >
              <!ATTLIST transport.priority.coded is CDATA #REQUIRED >
<!-- 4221 --> <!ELEMENT discrepancy.coded (#PCDATA)* >
              <!ATTLIST discrepancy.coded is CDATA #REQUIRED >
<!-- 4233 --> <!ELEMENT marking.instructions.coded (#PCDATA)* >
              <!ATTLIST marking.instructions.coded is CDATA #REQUIRED >
<!-- 4237 --> <!ELEMENT prepaid.collect.indicator.coded (#PCDATA)* >
              <!ATTLIST prepaid.collect.indicator.coded is CDATA #REQUIRED >
<!-- 4276 --> <!ELEMENT terms.of.payment (#PCDATA) >
<!-- 4277 --> <!ELEMENT terms.of.payment.identification (#PCDATA)* >
              <!ATTLIST terms.of.payment.identification is CDATA #REQUIRED >
<!-- 4279 --> <!ELEMENT payment.terms.type.qualifier (#PCDATA)* >
              <!ATTLIST payment.terms.type.qualifier is CDATA #REQUIRED >
<!-- 4294 --> <!ELEMENT change.reason (#PCDATA) >
<!-- 4295 --> <!ELEMENT change.reason.coded (#PCDATA)* >
              <!ATTLIST change.reason.coded is CDATA #REQUIRED >
<!-- 4343 --> <!ELEMENT response.type.coded (#PCDATA)* >
              <!ATTLIST response.type.coded is CDATA #REQUIRED >
<!-- 4347 --> <!ELEMENT product.id.function.qualifier (#PCDATA)* >
              <!ATTLIST product.id.function.qualifier is CDATA #REQUIRED >
<!-- 4383 --> <!ELEMENT bank.operation.coded (#PCDATA)* >
              <!ATTLIST bank.operation.coded is CDATA #REQUIRED >
<!-- 4400 --> <!ELEMENT instruction (#PCDATA) >
<!-- 4401 --> <!ELEMENT instruction.coded (#PCDATA)* >
              <!ATTLIST instruction.coded is CDATA #REQUIRED >
<!-- 4403 --> <!ELEMENT instruction.qualifier (#PCDATA)* >
              <!ATTLIST instruction.qualifier is CDATA #REQUIRED >
<!-- 4405 --> <!ELEMENT status.coded (#PCDATA)* >
              <!ATTLIST status.coded is CDATA #REQUIRED >
<!-- 4407 --> <!ELEMENT sample.process.status.coded (#PCDATA)* >
              <!ATTLIST sample.process.status.coded is CDATA #REQUIRED >
<!-- 4415 --> <!ELEMENT test.method.identification (#PCDATA) >
<!-- 4416 --> <!ELEMENT test.description (#PCDATA) >
<!-- 4419 --> <!ELEMENT test.route.of.administering.coded (#PCDATA)* >
              <!ATTLIST test.route.of.administering.coded is CDATA #REQUIRED >
<!-- 4424 --> <!ELEMENT test.reason (#PCDATA) >
<!-- 4425 --> <!ELEMENT test.reason.identification (#PCDATA) >
<!-- 4431 --> <!ELEMENT payment.guarantee.coded (#PCDATA)* >
              <!ATTLIST payment.guarantee.coded is CDATA #REQUIRED >
<!-- 4435 --> <!ELEMENT payment.channel.coded (#PCDATA)* >
              <!ATTLIST payment.channel.coded is CDATA #REQUIRED >
<!-- 4439 --> <!ELEMENT payment.conditions.coded (#PCDATA)* >
              <!ATTLIST payment.conditions.coded is CDATA #REQUIRED >
<!-- 4440 --> <!ELEMENT free.text.literal (#PCDATA) >
<!-- 4441 --> <!ELEMENT free.text.identification (#PCDATA) >
<!-- 4451 --> <!ELEMENT text.subject.qualifier (#PCDATA)* >
              <!ATTLIST text.subject.qualifier is CDATA #REQUIRED >
<!-- 4453 --> <!ELEMENT text.function.coded (#PCDATA)* >
              <!ATTLIST text.function.coded is CDATA #REQUIRED >
<!-- 4455 --> <!ELEMENT back.order.coded (#PCDATA)* >
              <!ATTLIST back.order.coded is CDATA #REQUIRED >
<!-- 4457 --> <!ELEMENT product.service.substitution.coded (#PCDATA)* >
              <!ATTLIST product.service.substitution.coded is CDATA #REQUIRED >
<!-- 4461 --> <!ELEMENT payment.means.coded (#PCDATA)* >
              <!ATTLIST payment.means.coded is CDATA #REQUIRED >
<!-- 4463 --> <!ELEMENT intra.company.payment.coded (#PCDATA)* >
              <!ATTLIST intra.company.payment.coded is CDATA #REQUIRED >
<!-- 4465 --> <!ELEMENT adjustment.reason.coded (#PCDATA)* >
              <!ATTLIST adjustment.reason.coded is CDATA #REQUIRED >
<!-- 4471 --> <!ELEMENT settlement.coded (#PCDATA)* >
              <!ATTLIST settlement.coded is CDATA #REQUIRED >
<!-- 4487 --> <!ELEMENT type.of.financial.transaction.coded (#PCDATA)* >
              <!ATTLIST type.of.financial.transaction.coded is CDATA #REQUIRED >
<!-- 4493 --> <!ELEMENT delivery.requirements.coded (#PCDATA)* >
              <!ATTLIST delivery.requirements.coded is CDATA #REQUIRED >
<!-- 4494 --> <!ELEMENT insurance.cover (#PCDATA) >
<!-- 4495 --> <!ELEMENT insurance.cover.identification (#PCDATA) >
<!-- 4497 --> <!ELEMENT insurance.cover.type.coded (#PCDATA) >
<!-- 4499 --> <!ELEMENT reason.for.inventory.movement.coded (#PCDATA)* >
              <!ATTLIST reason.for.inventory.movement.coded is CDATA #REQUIRED >
<!-- 4501 --> <!ELEMENT inventory.movement.direction.coded (#PCDATA)* >
              <!ATTLIST inventory.movement.direction.coded is CDATA #REQUIRED >
<!-- 4503 --> <!ELEMENT inventory.balance.method.coded (#PCDATA)* >
              <!ATTLIST inventory.balance.method.coded is CDATA #REQUIRED >
<!-- 4505 --> <!ELEMENT credit.cover.request.coded (#PCDATA)* >
              <!ATTLIST credit.cover.request.coded is CDATA #REQUIRED >
<!-- 4507 --> <!ELEMENT credit.cover.response.coded (#PCDATA)* >
              <!ATTLIST credit.cover.response.coded is CDATA #REQUIRED >
<!-- 4509 --> <!ELEMENT credit.cover.reason.coded (#PCDATA)* >
              <!ATTLIST credit.cover.reason.coded is CDATA #REQUIRED >
<!-- 4510 --> <!ELEMENT requested.information (#PCDATA) >
<!-- 4511 --> <!ELEMENT requested.information.coded (#PCDATA)* >
              <!ATTLIST requested.information.coded is CDATA #REQUIRED >
<!-- 4513 --> <!ELEMENT maintenance.operation.coded (#PCDATA)* >
              <!ATTLIST maintenance.operation.coded is CDATA #REQUIRED >
<!-- 4517 --> <!ELEMENT seal.condition.coded (#PCDATA)* >
              <!ATTLIST seal.condition.coded is CDATA #REQUIRED >
<!-- 5004 --> <!ELEMENT monetary.amount.literal (#PCDATA) >
<!-- 5007 --> <!ELEMENT monetary.function.coded (#PCDATA)* >
              <!ATTLIST monetary.function.coded is CDATA #REQUIRED >
<!-- 5013 --> <!ELEMENT index.qualifier (#PCDATA)* >
              <!ATTLIST index.qualifier is CDATA #REQUIRED >
<!-- 5025 --> <!ELEMENT monetary.amount.type.qualifier (#PCDATA)* >
              <!ATTLIST monetary.amount.type.qualifier is CDATA #REQUIRED >
<!-- 5027 --> <!ELEMENT index.type.coded (#PCDATA)* >
              <!ATTLIST index.type.coded is CDATA #REQUIRED >
<!-- 5030 --> <!ELEMENT index.value (#PCDATA) >
<!-- 5039 --> <!ELEMENT index.value.representation.coded (#PCDATA)* >
              <!ATTLIST index.value.representation.coded is CDATA #REQUIRED >
<!-- 5047 --> <!ELEMENT contribution.qualifier (#PCDATA)* >
              <!ATTLIST contribution.qualifier is CDATA #REQUIRED >
<!-- 5048 --> <!ELEMENT contribution.type (#PCDATA) >
<!-- 5049 --> <!ELEMENT contribution.type.coded (#PCDATA)* >
              <!ATTLIST contribution.type.coded is CDATA #REQUIRED >
<!-- 5118 --> <!ELEMENT price (#PCDATA) >
<!-- 5125 --> <!ELEMENT price.qualifier (#PCDATA)* >
              <!ATTLIST price.qualifier is CDATA #REQUIRED >
<!-- 5152 --> <!ELEMENT duty.tax.fee.type (#PCDATA) >
<!-- 5153 --> <!ELEMENT duty.tax.fee.type.coded (#PCDATA)* >
              <!ATTLIST duty.tax.fee.type.coded is CDATA #REQUIRED >
<!-- 5189 --> <!ELEMENT charge.allowance.description.coded (#PCDATA)* >
              <!ATTLIST charge.allowance.description.coded is CDATA #REQUIRED >
<!-- 5213 --> <!ELEMENT sub.line.price.change.coded (#PCDATA)* >
              <!ATTLIST sub.line.price.change.coded is CDATA #REQUIRED >
<!-- 5237 --> <!ELEMENT charge.category.coded (#PCDATA)* >
              <!ATTLIST charge.category.coded is CDATA #REQUIRED >
<!-- 5242 --> <!ELEMENT rate.tariff.class (#PCDATA) >
<!-- 5243 --> <!ELEMENT rate.tariff.class.identification (#PCDATA)* >
              <!ATTLIST rate.tariff.class.identification is CDATA #REQUIRED >
<!-- 5245 --> <!ELEMENT percentage.qualifier (#PCDATA)* >
              <!ATTLIST percentage.qualifier is CDATA #REQUIRED >
<!-- 5249 --> <!ELEMENT percentage.basis.coded (#PCDATA)* >
              <!ATTLIST percentage.basis.coded is CDATA #REQUIRED >
<!-- 5273 --> <!ELEMENT duty.tax.fee.rate.basis.identification (#PCDATA)* >
              <!ATTLIST duty.tax.fee.rate.basis.identification is CDATA #REQUIRED >
<!-- 5275 --> <!ELEMENT supplementary.rate.tariff.basis.identification (#PCDATA) >
<!-- 5278 --> <!ELEMENT duty.tax.fee.rate (#PCDATA) >
<!-- 5279 --> <!ELEMENT duty.tax.fee.rate.identification (#PCDATA) >
<!-- 5283 --> <!ELEMENT duty.tax.fee.function.qualifier (#PCDATA)* >
              <!ATTLIST duty.tax.fee.function.qualifier is CDATA #REQUIRED >
<!-- 5284 --> <!ELEMENT unit.price.basis (#PCDATA) >
<!-- 5286 --> <!ELEMENT duty.tax.fee.assessment.basis (#PCDATA) >
<!-- 5289 --> <!ELEMENT duty.tax.fee.account.identification (#PCDATA) >
<!-- 5305 --> <!ELEMENT duty.tax.fee.category.coded (#PCDATA)* >
              <!ATTLIST duty.tax.fee.category.coded is CDATA #REQUIRED >
<!-- 5314 --> <!ELEMENT remuneration.type (#PCDATA) >
<!-- 5315 --> <!ELEMENT remuneration.type.coded (#PCDATA)* >
              <!ATTLIST remuneration.type.coded is CDATA #REQUIRED >
<!-- 5375 --> <!ELEMENT price.type.coded (#PCDATA)* >
              <!ATTLIST price.type.coded is CDATA #REQUIRED >
<!-- 5377 --> <!ELEMENT price.change.indicator.coded (#PCDATA) >
<!-- 5379 --> <!ELEMENT product.group.type.coded (#PCDATA)* >
              <!ATTLIST product.group.type.coded is CDATA #REQUIRED >
<!-- 5387 --> <!ELEMENT price.type.qualifier (#PCDATA)* >
              <!ATTLIST price.type.qualifier is CDATA #REQUIRED >
<!-- 5388 --> <!ELEMENT product.group (#PCDATA) >
<!-- 5389 --> <!ELEMENT product.group.coded (#PCDATA) >
<!-- 5393 --> <!ELEMENT price.multiplier.qualifier (#PCDATA)* >
              <!ATTLIST price.multiplier.qualifier is CDATA #REQUIRED >
<!-- 5394 --> <!ELEMENT price.multiplier (#PCDATA) >
<!-- 5402 --> <!ELEMENT rate.of.exchange (#PCDATA) >
<!-- 5419 --> <!ELEMENT rate.type.qualifier (#PCDATA)* >
              <!ATTLIST rate.type.qualifier is CDATA #REQUIRED >
<!-- 5420 --> <!ELEMENT rate.per.unit (#PCDATA) >
<!-- 5463 --> <!ELEMENT allowance.or.charge.qualifier (#PCDATA)* >
              <!ATTLIST allowance.or.charge.qualifier is CDATA #REQUIRED >
<!-- 5479 --> <!ELEMENT relation.coded (#PCDATA) >
<!-- 5482 --> <!ELEMENT percentage (#PCDATA) >
<!-- 5495 --> <!ELEMENT sub.line.indicator.coded (#PCDATA)* >
              <!ATTLIST sub.line.indicator.coded is CDATA #REQUIRED >
<!-- 6008 --> <!ELEMENT height.dimension (#PCDATA) >
<!-- 6060 --> <!ELEMENT quantity.literal (#PCDATA) >
<!-- 6063 --> <!ELEMENT quantity.qualifier (#PCDATA)* >
              <!ATTLIST quantity.qualifier is CDATA #REQUIRED >
<!-- 6064 --> <!ELEMENT quantity.difference (#PCDATA) >
<!-- 6066 --> <!ELEMENT control.value (#PCDATA) >
<!-- 6069 --> <!ELEMENT control.qualifier (#PCDATA)* >
              <!ATTLIST control.qualifier is CDATA #REQUIRED >
<!-- 6071 --> <!ELEMENT frequency.qualifier (#PCDATA)* >
              <!ATTLIST frequency.qualifier is CDATA #REQUIRED >
<!-- 6072 --> <!ELEMENT frequency.value (#PCDATA) >
<!-- 6074 --> <!ELEMENT confidence.limit (#PCDATA) >
<!-- 6077 --> <!ELEMENT result.type.coded (#PCDATA)* >
              <!ATTLIST result.type.coded is CDATA #REQUIRED >
<!-- 6079 --> <!ELEMENT result.normalcy.indicator.coded (#PCDATA)* >
              <!ATTLIST result.normalcy.indicator.coded is CDATA #REQUIRED >
<!-- 6082 --> <!ELEMENT dosage (#PCDATA) >
<!-- 6083 --> <!ELEMENT dosage.identification (#PCDATA) >
<!-- 6085 --> <!ELEMENT dosage.administration.qualifier (#PCDATA)* >
              <!ATTLIST dosage.administration.qualifier is CDATA #REQUIRED >
<!-- 6087 --> <!ELEMENT result.qualifier (#PCDATA)* >
              <!ATTLIST result.qualifier is CDATA #REQUIRED >
<!-- 6140 --> <!ELEMENT width.dimension (#PCDATA) >
<!-- 6145 --> <!ELEMENT dimension.qualifier (#PCDATA)* >
              <!ATTLIST dimension.qualifier is CDATA #REQUIRED >
<!-- 6152 --> <!ELEMENT range.maximum (#PCDATA) >
<!-- 6154 --> <!ELEMENT measurement.attribute (#PCDATA) >
<!-- 6155 --> <!ELEMENT measurement.attribute.identification (#PCDATA)* >
              <!ATTLIST measurement.attribute.identification is CDATA #REQUIRED >
<!-- 6162 --> <!ELEMENT range.minimum (#PCDATA) >
<!-- 6167 --> <!ELEMENT range.type.qualifier (#PCDATA)* >
              <!ATTLIST range.type.qualifier is CDATA #REQUIRED >
<!-- 6168 --> <!ELEMENT length.dimension (#PCDATA) >
<!-- 6173 --> <!ELEMENT size.qualifier (#PCDATA)* >
              <!ATTLIST size.qualifier is CDATA #REQUIRED >
<!-- 6174 --> <!ELEMENT size (#PCDATA) >
<!-- 6176 --> <!ELEMENT maximum.number.of.occurrences (#PCDATA) >
<!-- 6245 --> <!ELEMENT temperature.qualifier (#PCDATA)* >
              <!ATTLIST temperature.qualifier is CDATA #REQUIRED >
<!-- 6246 --> <!ELEMENT temperature.setting (#PCDATA) >
<!-- 6311 --> <!ELEMENT measurement.application.qualifier (#PCDATA)* >
              <!ATTLIST measurement.application.qualifier is CDATA #REQUIRED >
<!-- 6313 --> <!ELEMENT measurement.dimension.coded (#PCDATA)* >
              <!ATTLIST measurement.dimension.coded is CDATA #REQUIRED >
<!-- 6314 --> <!ELEMENT measurement.value (#PCDATA) >
<!-- 6321 --> <!ELEMENT measurement.significance.coded (#PCDATA)* >
              <!ATTLIST measurement.significance.coded is CDATA #REQUIRED >
<!-- 6331 --> <!ELEMENT statistic.type.coded (#PCDATA)* >
              <!ATTLIST statistic.type.coded is CDATA #REQUIRED >
<!-- 6341 --> <!ELEMENT currency.market.exchange.coded (#PCDATA)* >
              <!ATTLIST currency.market.exchange.coded is CDATA #REQUIRED >
<!-- 6343 --> <!ELEMENT currency.qualifier (#PCDATA)* >
              <!ATTLIST currency.qualifier is CDATA #REQUIRED >
<!-- 6345 --> <!ELEMENT currency.coded (#PCDATA) >
<!-- 6347 --> <!ELEMENT currency.details.qualifier (#PCDATA)* >
              <!ATTLIST currency.details.qualifier is CDATA #REQUIRED >
<!-- 6348 --> <!ELEMENT currency.rate.base (#PCDATA) >
<!-- 6350 --> <!ELEMENT number.of.units.literal (#PCDATA) >
<!-- 6353 --> <!ELEMENT number.of.units.qualifier (#PCDATA)* >
              <!ATTLIST number.of.units.qualifier is CDATA #REQUIRED >
<!-- 6411 --> <!ELEMENT measure.unit.qualifier (#PCDATA) >
<!-- 6412 --> <!ELEMENT clinical.information.literal (#PCDATA) >
<!-- 6413 --> <!ELEMENT clinical.information.identification (#PCDATA) >
<!-- 6415 --> <!ELEMENT clinical.information.qualifier (#PCDATA)* >
              <!ATTLIST clinical.information.qualifier is CDATA #REQUIRED >
<!-- 6416 --> <!ELEMENT measurement.unit (#PCDATA) >
<!-- 6417 --> <!ELEMENT measurement.unit.identification (#PCDATA) >
<!-- 6426 --> <!ELEMENT number.of.stages (#PCDATA) >
<!-- 6428 --> <!ELEMENT actual.stage.count (#PCDATA) >
<!-- 6432 --> <!ELEMENT significant.digits (#PCDATA) >
<!-- 6434 --> <!ELEMENT statistical.concept.identifier (#PCDATA) >
<!-- 7001 --> <!ELEMENT physical.or.logical.state.qualifier (#PCDATA)* >
              <!ATTLIST physical.or.logical.state.qualifier is CDATA #REQUIRED >
<!-- 7006 --> <!ELEMENT physical.or.logical.state.literal (#PCDATA) >
<!-- 7007 --> <!ELEMENT physical.or.logical.state.coded (#PCDATA)* >
              <!ATTLIST physical.or.logical.state.coded is CDATA #REQUIRED >
<!-- 7008 --> <!ELEMENT item.description.literal (#PCDATA) >
<!-- 7009 --> <!ELEMENT item.description.identification (#PCDATA) >
<!-- 7011 --> <!ELEMENT article.availability.coded (#PCDATA)* >
              <!ATTLIST article.availability.coded is CDATA #REQUIRED >
<!-- 7036 --> <!ELEMENT characteristic (#PCDATA) >
<!-- 7037 --> <!ELEMENT characteristic.identification (#PCDATA) >
<!-- 7039 --> <!ELEMENT sample.selection.method.coded (#PCDATA)* >
              <!ATTLIST sample.selection.method.coded is CDATA #REQUIRED >
<!-- 7045 --> <!ELEMENT sample.description.coded (#PCDATA)* >
              <!ATTLIST sample.description.coded is CDATA #REQUIRED >
<!-- 7047 --> <!ELEMENT sample.direction.coded (#PCDATA)* >
              <!ATTLIST sample.direction.coded is CDATA #REQUIRED >
<!-- 7059 --> <!ELEMENT property.class.coded (#PCDATA)* >
              <!ATTLIST property.class.coded is CDATA #REQUIRED >
<!-- 7064 --> <!ELEMENT type.of.packages (#PCDATA) >
<!-- 7065 --> <!ELEMENT type.of.packages.identification (#PCDATA) >
<!-- 7073 --> <!ELEMENT packaging.terms.and.conditions.coded (#PCDATA)* >
              <!ATTLIST packaging.terms.and.conditions.coded is CDATA #REQUIRED >
<!-- 7075 --> <!ELEMENT packaging.level.coded (#PCDATA)* >
              <!ATTLIST packaging.level.coded is CDATA #REQUIRED >
<!-- 7077 --> <!ELEMENT item.description.type.coded (#PCDATA)* >
              <!ATTLIST item.description.type.coded is CDATA #REQUIRED >
<!-- 7081 --> <!ELEMENT item.characteristic.coded (#PCDATA)* >
              <!ATTLIST item.characteristic.coded is CDATA #REQUIRED >
<!-- 7083 --> <!ELEMENT configuration.coded (#PCDATA)* >
              <!ATTLIST configuration.coded is CDATA #REQUIRED >
<!-- 7085 --> <!ELEMENT nature.of.cargo.coded (#PCDATA)* >
              <!ATTLIST nature.of.cargo.coded is CDATA #REQUIRED >
<!-- 7088 --> <!ELEMENT dangerous.goods.flashpoint (#PCDATA) >
<!-- 7102 --> <!ELEMENT shipping.marks (#PCDATA) >
<!-- 7106 --> <!ELEMENT shipment.flashpoint (#PCDATA) >
<!-- 7110 --> <!ELEMENT characteristic.value.literal (#PCDATA) >
<!-- 7111 --> <!ELEMENT characteristic.value.coded (#PCDATA) >
<!-- 7124 --> <!ELEMENT undg.number (#PCDATA) >
<!-- 7130 --> <!ELEMENT customer.authorization.number (#PCDATA) >
<!-- 7140 --> <!ELEMENT item.number (#PCDATA) >
<!-- 7143 --> <!ELEMENT item.number.type.coded (#PCDATA)* >
              <!ATTLIST item.number.type.coded is CDATA #REQUIRED >
<!-- 7160 --> <!ELEMENT special.service (#PCDATA) >
<!-- 7161 --> <!ELEMENT special.services.coded (#PCDATA)* >
              <!ATTLIST special.services.coded is CDATA #REQUIRED >
<!-- 7164 --> <!ELEMENT hierarchical.id.number (#PCDATA) >
<!-- 7166 --> <!ELEMENT hierarchical.parent.id (#PCDATA) >
<!-- 7168 --> <!ELEMENT level.number (#PCDATA) >
<!-- 7171 --> <!ELEMENT hierarchical.level.coded (#PCDATA)* >
              <!ATTLIST hierarchical.level.coded is CDATA #REQUIRED >
<!-- 7173 --> <!ELEMENT hierarchy.object.qualifier (#PCDATA)* >
              <!ATTLIST hierarchy.object.qualifier is CDATA #REQUIRED >
<!-- 7175 --> <!ELEMENT rule.part.identification (#PCDATA) >
<!-- 7186 --> <!ELEMENT process.type (#PCDATA) >
<!-- 7187 --> <!ELEMENT process.type.identification (#PCDATA)* >
              <!ATTLIST process.type.identification is CDATA #REQUIRED >
<!-- 7188 --> <!ELEMENT test.revision.number (#PCDATA) >
<!-- 7190 --> <!ELEMENT process (#PCDATA) >
<!-- 7191 --> <!ELEMENT process.identification.literal (#PCDATA) >
<!-- 7224 --> <!ELEMENT number.of.packages (#PCDATA) >
<!-- 7233 --> <!ELEMENT packaging.related.information.coded (#PCDATA)* >
              <!ATTLIST packaging.related.information.coded is CDATA #REQUIRED >
<!-- 7240 --> <!ELEMENT total.number.of.items (#PCDATA) >
<!-- 7273 --> <!ELEMENT service.requirement.coded (#PCDATA)* >
              <!ATTLIST service.requirement.coded is CDATA #REQUIRED >
<!-- 7293 --> <!ELEMENT sector.subject.identification.qualifier (#PCDATA)* >
              <!ATTLIST sector.subject.identification.qualifier is CDATA #REQUIRED >
<!-- 7294 --> <!ELEMENT requirement.or.condition (#PCDATA) >
<!-- 7295 --> <!ELEMENT requirement.condition.identification (#PCDATA) >
<!-- 7297 --> <!ELEMENT set.identification.qualifier (#PCDATA)* >
              <!ATTLIST set.identification.qualifier is CDATA #REQUIRED >
<!-- 7299 --> <!ELEMENT requirement.designator.coded (#PCDATA)* >
              <!ATTLIST requirement.designator.coded is CDATA #REQUIRED >
<!-- 7357 --> <!ELEMENT commodity.rate.identification (#PCDATA) >
<!-- 7361 --> <!ELEMENT customs.code.identification (#PCDATA) >
<!-- 7365 --> <!ELEMENT processing.indicator.coded (#PCDATA)* >
              <!ATTLIST processing.indicator.coded is CDATA #REQUIRED >
<!-- 7383 --> <!ELEMENT surface.layer.indicator.coded (#PCDATA)* >
              <!ATTLIST surface.layer.indicator.coded is CDATA #REQUIRED >
<!-- 7402 --> <!ELEMENT identity.number (#PCDATA) >
<!-- 7405 --> <!ELEMENT identity.number.qualifier (#PCDATA)* >
              <!ATTLIST identity.number.qualifier is CDATA #REQUIRED >
<!-- 7418 --> <!ELEMENT hazardous.material.class (#PCDATA) >
<!-- 7419 --> <!ELEMENT hazardous.material.class.code.identification (#PCDATA) >
<!-- 7429 --> <!ELEMENT indexing.structure.qualifier (#PCDATA)* >
              <!ATTLIST indexing.structure.qualifier is CDATA #REQUIRED >
<!-- 7431 --> <!ELEMENT agreement.type.qualifier (#PCDATA)* >
              <!ATTLIST agreement.type.qualifier is CDATA #REQUIRED >
<!-- 7433 --> <!ELEMENT agreement.type.coded (#PCDATA)* >
              <!ATTLIST agreement.type.coded is CDATA #REQUIRED >
<!-- 7434 --> <!ELEMENT agreement.type.description (#PCDATA) >
<!-- 7436 --> <!ELEMENT level.one.id (#PCDATA) >
<!-- 7438 --> <!ELEMENT level.two.id (#PCDATA) >
<!-- 7440 --> <!ELEMENT level.three.id (#PCDATA) >
<!-- 7442 --> <!ELEMENT level.four.id (#PCDATA) >
<!-- 7444 --> <!ELEMENT level.five.id (#PCDATA) >
<!-- 7446 --> <!ELEMENT level.six.id (#PCDATA) >
<!-- 7449 --> <!ELEMENT membership.qualifier (#PCDATA)* >
              <!ATTLIST membership.qualifier is CDATA #REQUIRED >
<!-- 7450 --> <!ELEMENT membership.category (#PCDATA) >
<!-- 7451 --> <!ELEMENT membership.category.identification (#PCDATA)* >
              <!ATTLIST membership.category.identification is CDATA #REQUIRED >
<!-- 7452 --> <!ELEMENT membership.status (#PCDATA) >
<!-- 7453 --> <!ELEMENT membership.status.coded (#PCDATA) >
<!-- 7455 --> <!ELEMENT membership.level.qualifier (#PCDATA)* >
              <!ATTLIST membership.level.qualifier is CDATA #REQUIRED >
<!-- 7456 --> <!ELEMENT membership.level (#PCDATA) >
<!-- 7457 --> <!ELEMENT membership.level.identification (#PCDATA) >
<!-- 7458 --> <!ELEMENT attendee.category (#PCDATA) >
<!-- 7459 --> <!ELEMENT attendee.category.coded (#PCDATA) >
<!-- 7491 --> <!ELEMENT type.of.inventory.affected.coded (#PCDATA)* >
              <!ATTLIST type.of.inventory.affected.coded is CDATA #REQUIRED >
<!-- 7493 --> <!ELEMENT damage.details.qualifier (#PCDATA)* >
              <!ATTLIST damage.details.qualifier is CDATA #REQUIRED >
<!-- 7495 --> <!ELEMENT identification.qualifier (#PCDATA)* >
              <!ATTLIST identification.qualifier is CDATA #REQUIRED >
<!-- 7497 --> <!ELEMENT component.function.qualifier (#PCDATA)* >
              <!ATTLIST component.function.qualifier is CDATA #REQUIRED >
<!-- 7500 --> <!ELEMENT type.of.damage (#PCDATA) >
<!-- 7501 --> <!ELEMENT type.of.damage.coded (#PCDATA) >
<!-- 7502 --> <!ELEMENT damage.area (#PCDATA) >
<!-- 7503 --> <!ELEMENT damage.area.identification (#PCDATA) >
<!-- 7504 --> <!ELEMENT type.of.unit.component (#PCDATA) >
<!-- 7505 --> <!ELEMENT type.of.unit.component.coded (#PCDATA) >
<!-- 7506 --> <!ELEMENT component.material (#PCDATA) >
<!-- 7507 --> <!ELEMENT component.material.coded (#PCDATA) >
<!-- 7508 --> <!ELEMENT damage.severity (#PCDATA) >
<!-- 7509 --> <!ELEMENT damage.severity.coded (#PCDATA) >
<!-- 7511 --> <!ELEMENT type.of.marking.coded (#PCDATA) >
<!-- 7512 --> <!ELEMENT structure.component.identifier (#PCDATA) >
<!-- 8022 --> <!ELEMENT freight.and.charges (#PCDATA) >
<!-- 8023 --> <!ELEMENT freight.and.charges.identification (#PCDATA) >
<!-- 8028 --> <!ELEMENT conveyance.reference.number (#PCDATA) >
<!-- 8051 --> <!ELEMENT transport.stage.qualifier (#PCDATA)* >
              <!ATTLIST transport.stage.qualifier is CDATA #REQUIRED >
<!-- 8053 --> <!ELEMENT equipment.qualifier (#PCDATA)* >
              <!ATTLIST equipment.qualifier is CDATA #REQUIRED >
<!-- 8066 --> <!ELEMENT mode.of.transport (#PCDATA) >
<!-- 8067 --> <!ELEMENT mode.of.transport.coded (#PCDATA) >
<!-- 8077 --> <!ELEMENT equipment.supplier.coded (#PCDATA)* >
              <!ATTLIST equipment.supplier.coded is CDATA #REQUIRED >
<!-- 8078 --> <!ELEMENT hazard.substance.item.page.number (#PCDATA) >
<!-- 8092 --> <!ELEMENT hazard.code.version.number (#PCDATA) >
<!-- 8101 --> <!ELEMENT transit.direction.coded (#PCDATA)* >
              <!ATTLIST transit.direction.coded is CDATA #REQUIRED >
<!-- 8126 --> <!ELEMENT trem.card.number (#PCDATA) >
<!-- 8154 --> <!ELEMENT equipment.size.and.type (#PCDATA) >
<!-- 8155 --> <!ELEMENT equipment.size.and.type.identification (#PCDATA)* >
              <!ATTLIST equipment.size.and.type.identification is CDATA #REQUIRED >
<!-- 8158 --> <!ELEMENT hazard.identification.number.upper.part (#PCDATA) >
<!-- 8169 --> <!ELEMENT full.empty.indicator.coded (#PCDATA)* >
              <!ATTLIST full.empty.indicator.coded is CDATA #REQUIRED >
<!-- 8178 --> <!ELEMENT type.of.means.of.transport (#PCDATA) >
<!-- 8179 --> <!ELEMENT type.of.means.of.transport.identification (#PCDATA)* >
              <!ATTLIST type.of.means.of.transport.identification is CDATA #REQUIRED >
<!-- 8186 --> <!ELEMENT substance.identification.number.lower.part (#PCDATA) >
<!-- 8211 --> <!ELEMENT permission.for.transport.coded (#PCDATA) >
<!-- 8212 --> <!ELEMENT id.of.the.means.of.transport (#PCDATA) >
<!-- 8213 --> <!ELEMENT id.of.means.of.transport.identification (#PCDATA) >
<!-- 8246 --> <!ELEMENT dangerous.goods.label.marking (#PCDATA) >
<!-- 8249 --> <!ELEMENT equipment.status.coded (#PCDATA)* >
              <!ATTLIST equipment.status.coded is CDATA #REQUIRED >
<!-- 8255 --> <!ELEMENT packing.instruction.coded (#PCDATA) >
<!-- 8260 --> <!ELEMENT equipment.identification.number (#PCDATA) >
<!-- 8273 --> <!ELEMENT dangerous.goods.regulations.coded (#PCDATA)* >
              <!ATTLIST dangerous.goods.regulations.coded is CDATA #REQUIRED >
<!-- 8275 --> <!ELEMENT container.package.status.coded (#PCDATA)* >
              <!ATTLIST container.package.status.coded is CDATA #REQUIRED >
<!-- 8281 --> <!ELEMENT transport.ownership.coded (#PCDATA)* >
              <!ATTLIST transport.ownership.coded is CDATA #REQUIRED >
<!-- 8323 --> <!ELEMENT transport.movement.coded (#PCDATA)* >
              <!ATTLIST transport.movement.coded is CDATA #REQUIRED >
<!-- 8325 --> <!ELEMENT category.of.means.of.transport.coded (#PCDATA)* >
              <!ATTLIST category.of.means.of.transport.coded is CDATA #REQUIRED >
<!-- 8332 --> <!ELEMENT equipment.plan (#PCDATA) >
<!-- 8334 --> <!ELEMENT movement.type (#PCDATA) >
<!-- 8335 --> <!ELEMENT movement.type.coded (#PCDATA)* >
              <!ATTLIST movement.type.coded is CDATA #REQUIRED >
<!-- 8339 --> <!ELEMENT packing.group.coded (#PCDATA)* >
              <!ATTLIST packing.group.coded is CDATA #REQUIRED >
<!-- 8341 --> <!ELEMENT haulage.arrangements.coded (#PCDATA)* >
              <!ATTLIST haulage.arrangements.coded is CDATA #REQUIRED >
<!-- 8351 --> <!ELEMENT hazard.code.identification (#PCDATA) >
<!-- 8364 --> <!ELEMENT ems.number (#PCDATA) >
<!-- 8393 --> <!ELEMENT returnable.package.load.contents.coded (#PCDATA)* >
              <!ATTLIST returnable.package.load.contents.coded is CDATA #REQUIRED >
<!-- 8395 --> <!ELEMENT returnable.package.freight.payment.responsibility.coded (#PCDATA)* >
              <!ATTLIST returnable.package.freight.payment.responsibility.coded is CDATA #REQUIRED >
<!-- 8410 --> <!ELEMENT mfag (#PCDATA) >
<!-- 8453 --> <!ELEMENT nationality.of.means.of.transport.coded (#PCDATA) >
<!-- 8457 --> <!ELEMENT excess.transportation.reason.coded (#PCDATA)* >
              <!ATTLIST excess.transportation.reason.coded is CDATA #REQUIRED >
<!-- 8459 --> <!ELEMENT excess.transportation.responsibility.coded (#PCDATA)* >
              <!ATTLIST excess.transportation.responsibility.coded is CDATA #REQUIRED >
<!-- 9003 --> <!ELEMENT employment.qualifier (#PCDATA)* >
              <!ATTLIST employment.qualifier is CDATA #REQUIRED >
<!-- 9004 --> <!ELEMENT employment.category (#PCDATA) >
<!-- 9005 --> <!ELEMENT employment.category.coded (#PCDATA) >
<!-- 9006 --> <!ELEMENT qualification.classification (#PCDATA) >
<!-- 9007 --> <!ELEMENT qualification.classification.coded (#PCDATA) >
<!-- 9008 --> <!ELEMENT occupation (#PCDATA) >
<!-- 9009 --> <!ELEMENT occupation.coded (#PCDATA) >
<!-- 9010 --> <!ELEMENT status.event (#PCDATA) >
<!-- 9011 --> <!ELEMENT status.event.coded (#PCDATA)* >
              <!ATTLIST status.event.coded is CDATA #REQUIRED >
<!-- 9012 --> <!ELEMENT status.reason (#PCDATA) >
<!-- 9013 --> <!ELEMENT status.reason.coded (#PCDATA)* >
              <!ATTLIST status.reason.coded is CDATA #REQUIRED >
<!-- 9015 --> <!ELEMENT status.type.coded (#PCDATA)* >
              <!ATTLIST status.type.coded is CDATA #REQUIRED >
<!-- 9017 --> <!ELEMENT attribute.function.qualifier (#PCDATA)* >
              <!ATTLIST attribute.function.qualifier is CDATA #REQUIRED >
<!-- 9018 --> <!ELEMENT attribute.literal (#PCDATA) >
<!-- 9019 --> <!ELEMENT attribute.coded (#PCDATA) >
<!-- 9021 --> <!ELEMENT attribute.type.coded (#PCDATA) >
<!-- 9035 --> <!ELEMENT qualification.area.coded (#PCDATA)* >
              <!ATTLIST qualification.area.coded is CDATA #REQUIRED >
<!-- 9037 --> <!ELEMENT qualification.qualifier (#PCDATA)* >
              <!ATTLIST qualification.qualifier is CDATA #REQUIRED >
<!-- 9141 --> <!ELEMENT relationship.qualifier (#PCDATA)* >
              <!ATTLIST relationship.qualifier is CDATA #REQUIRED >
<!-- 9142 --> <!ELEMENT relationship.literal (#PCDATA) >
<!-- 9143 --> <!ELEMENT relationship.coded (#PCDATA) >
<!-- 9146 --> <!ELEMENT composite.data.element.tag (#PCDATA) >
<!-- 9148 --> <!ELEMENT directory.status (#PCDATA) >
<!-- 9150 --> <!ELEMENT simple.data.element.tag (#PCDATA) >
<!-- 9153 --> <!ELEMENT simple.data.element.character.representation.coded (#PCDATA)* >
              <!ATTLIST simple.data.element.character.representation.coded is CDATA #REQUIRED >
<!-- 9155 --> <!ELEMENT simple.data.element.length.type.coded (#PCDATA)* >
              <!ATTLIST simple.data.element.length.type.coded is CDATA #REQUIRED >
<!-- 9156 --> <!ELEMENT simple.data.element.maximum.length (#PCDATA) >
<!-- 9158 --> <!ELEMENT simple.data.element.minimum.length (#PCDATA) >
<!-- 9161 --> <!ELEMENT code.set.indicator.coded (#PCDATA)* >
              <!ATTLIST code.set.indicator.coded is CDATA #REQUIRED >
<!-- 9162 --> <!ELEMENT data.element.tag (#PCDATA) >
<!-- 9164 --> <!ELEMENT group.identification (#PCDATA) >
<!-- 9166 --> <!ELEMENT segment.tag (#PCDATA) >
<!-- 9213 --> <!ELEMENT type.of.duty.regime.coded (#PCDATA)* >
              <!ATTLIST type.of.duty.regime.coded is CDATA #REQUIRED >
<!-- 9280 --> <!ELEMENT validation.result (#PCDATA) >
<!-- 9282 --> <!ELEMENT validation.key.identification (#PCDATA) >
<!-- 9302 --> <!ELEMENT sealing.party (#PCDATA) >
<!-- 9303 --> <!ELEMENT sealing.party.coded (#PCDATA)* >
              <!ATTLIST sealing.party.coded is CDATA #REQUIRED >
<!-- 9308 --> <!ELEMENT seal.number.literal (#PCDATA) >
<!-- 9321 --> <!ELEMENT application.error.identification (#PCDATA) >
<!-- 9353 --> <!ELEMENT government.procedure.coded (#PCDATA)* >
              <!ATTLIST government.procedure.coded is CDATA #REQUIRED >
<!-- 9411 --> <!ELEMENT government.involvement.coded (#PCDATA)* >
              <!ATTLIST government.involvement.coded is CDATA #REQUIRED >
<!-- 9415 --> <!ELEMENT government.agency.coded (#PCDATA)* >
              <!ATTLIST government.agency.coded is CDATA #REQUIRED >
<!-- 9417 --> <!ELEMENT government.action.coded (#PCDATA)* >
              <!ATTLIST government.action.coded is CDATA #REQUIRED >
<!-- 9419 --> <!ELEMENT service.layer.coded (#PCDATA) >
<!-- 9421 --> <!ELEMENT stages.qualifier (#PCDATA)* >
              <!ATTLIST stages.qualifier is CDATA #REQUIRED >
<!-- 9424 --> <!ELEMENT array.cell.information (#PCDATA) >
<!-- 9426 --> <!ELEMENT code.value (#PCDATA) >
<!-- 9428 --> <!ELEMENT array.structure.identifier (#PCDATA) >
<!-- 9430 --> <!ELEMENT footnote.set.identifier (#PCDATA) >
<!-- 9432 --> <!ELEMENT footnote.identifier (#PCDATA) >
<!-- 9434 --> <!ELEMENT code.name (#PCDATA) >
<!-- 9436 --> <!ELEMENT clinical.intervention.literal (#PCDATA) >
<!-- 9437 --> <!ELEMENT clinical.intervention.identification (#PCDATA) >
<!-- 9441 --> <!ELEMENT clinical.intervention.qualifier (#PCDATA)* >
              <!ATTLIST clinical.intervention.qualifier is CDATA #REQUIRED >
<!-- 9443 --> <!ELEMENT attendance.qualifier (#PCDATA)* >
              <!ATTLIST attendance.qualifier is CDATA #REQUIRED >
<!-- 9444 --> <!ELEMENT admission.type (#PCDATA) >
<!-- 9445 --> <!ELEMENT admission.type.coded (#PCDATA) >
<!-- 9446 --> <!ELEMENT discharge.type (#PCDATA) >
<!-- 9447 --> <!ELEMENT discharge.type.coded (#PCDATA) >
